<include file="./Application/Home/View/headers.html"/>
<script type="text/javascript" src="__TPL__static/select.js"></script>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span
        class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <form id="searchErp">
            <span class="ml-10">商品代码：&nbsp;</span><input type="text" class="input-text" style="width:15%;"
                                                         name="goods_code" id="goods_code" value="" placeholder="代码号"/>

            <span class="ml-10">商品来源：</span>
            <select id="source_from" name="source_from" class="input-text" style="width:15%">
                <option value="">请选择</option>
                <volist name="data.oilSource" id="vo" key="k">
                    <option value="<{$key}>">
                        <{$vo}>
                    </option>
                </volist>
            </select>

            <span class="ml-10">　　状态：</span>
            <select id="status" name="status" class="input-text" style="width:15%">
                <option value="">请选择</option>
                <volist name="data.erpGoodsStatus" id="vo" key="k">
                    <option value="<{$key}>">
                        <{$vo}>
                    </option>
                </volist>
            </select>

            <br/>

            <div class="mt-10">
                <span class="ml-10">商品名称：</span>
                <select id="goods_name" name="goods_name" class="input-text" style="width:15%"></select>

                <span class="ml-10">商品级别：</span>
                <select id="level" name="level" class="input-text" style="width:15%"></select>

                <span class="ml-10">商品标号：</span>
                <select id="grade" name="grade" class="input-text" style="width:15%"></select>
                &nbsp;&nbsp;<input type="button" onclick="sub_select()" id="subes" class="btn btn-success radius"
                                   value="查询"/>
            </div>

        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l"><a href="javascript:;" onclick="erpgoods_add('新增', '<{:U(\'ErpGoods/showAddErpGoods\')}>', '', '800','550')" class="btn btn-primary radius check_access" value="ErpGoods-showAddErpGoods"><i class="Hui-iconfont">&#xe600;</i>新增</a>&nbsp;</span>
        <span class="l"><a href="javascript:;" onclick="erpgoods_update('编辑', '<{:U(\'ErpGoods/showUpdateErpGoods\')}>', '', '800','550')" class="btn btn-secondary radius check_access" value="ErpGoods-showUpdateErpGoods"><i class="Hui-iconfont">&#xe6df;</i>编辑</a>&nbsp;</span>
        <span class="l"><a href="javascript:;" onclick="erpgoods_delete('删除')" class="btn btn-danger radius check_access" value="ErpGoods-actDeleteErpGoods"><i class="Hui-iconfont">&#xe609;</i>删除</a>&nbsp;</span>
        <span class="l"><a href="javascript:;" onclick="erpgoods_audit('审核')" class="btn btn-success radius check_access" value="ErpGoods-actAuditErpGoods"><i class="Hui-iconfont">&#xe6e1;</i>审核</a></span>
    </div>
    <div class="mt-20" style="overflow-x:scroll;white-space:nowrap;">
        <table class="table table-border table-bordered table-hover table-bg table-sort" id="dataTable" width="100%">
            <thead>
            <tr class="text-c">
                <th></th>
                <th>序号</th>
                <th>商品代码</th>
                <th>商品名称</th>
                <th>商品来源</th>
                <th>商品标号</th> 
                <th>商品级别</th>
                <th>标注</th>
                <th>油品密度</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<include file="./Application/Home/View/footers.html"/>

<script type="text/javascript">

    $(function () {
        //设置商品名称、标号、级别三级联动
        var showMsg = ['请选择', '请选择', '请选择'];
        addressInit('goods_name', 'level', 'grade', showMsg);
    });

    /** 控制权限  **/
    var access_node = <{$access_node}>;
    //console.log(access_node);
    var check_access = [];
    function getCheckAccess(){

        $('.check_access').each(function(){
            //console.log($.trim($(this).attr('value')));
            //console.log($.inArray($.trim($(this).attr('value')),access_node));
            if($.inArray($.trim($(this).attr('value')) , access_node) != -1 && !$.isEmptyObject(access_node)){
                $(this).show();
            }else{
                $(this).hide();
            }
        });

    };
    getCheckAccess();
    /** end 控制权限  **/

    var table = $('.table-sort').dataTable({
        "paging": true,
        "serverSide": true,
        "iDisplayLength": 10,
        "displayStart": 0,
        ajax: {
            //url: "<{:U('Galaxy/orderList')}>",
            url: "<{:U('ErpGoods/erpGoodsList')}>",
            type: 'post'
        },
        "aaSorting": [[2, "desc"]],//默认第几个排序
        "bStateSave": false, //状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            //{"orderable":false,"aTargets":[0,1]}// 制定列不参与排序
        ],
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        "deferRender": true, //延迟渲染
        "searching": false,
        "bPaginate": true,
        "bLengthChange": true,
        "columns": [
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    return '<input name="check_box_list" type="checkbox"  class="checkchild"  value="' + data.id + '" /><input type="hidden" value="' + data.status + '">';
                }
            },
            {"data": "id"},
            {"data": "goods_code"},
            {"data": "goods_name"},
            {"data": "source_from"},
            {"data": "grade"},
            {"data": "level"},
            {"data": "label"},
            {"data": "density_value"},
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    if (data.status_font == '未审核') {
                        return '<span class="c-warning"><b>' + data.status_font + '</b></span>';
                    } else if (data.status_font == '已删除') {
                        return '<span class="c-error"><b>' + data.status_font + '</b></span>';
                    } else if (data.status_font == '已审核') {
                        return '<span class="c-success"><b>' + data.status_font + '</b></span>';
                    }
                }
            },
        ],
    });

    /*商品-添加*/
    function erpgoods_add(title, url, id, w, h) {
        url = url + '/id/' + id;
        layer_show(title, url, w, h);
    }

    /*商品-编辑*/
    function erpgoods_update(title, url, id, w, h) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            id = $('.checkchild:checked').val();
            url = url + '/id/' + id;
            layer_show(title, url, w, h);
        } else {
            layer.msg('无法批量编辑，只能选择一项', {icon: 2});
        }
    }

    /*商品-删除*/
    function erpgoods_delete(title) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            var id = $('.checkchild:checked').val();
            var url = '<{:U("ErpGoods/actDeleteErpGoods")}>';
            var type = 'post';
            var dataType = 'json';
            layer.confirm('请确认是否删除！', {
                btn: ['是', '取消']
            }, function () {
                $.ajax({
                    url: url,
                    data: {id: id},
                    type: type,
                    dataType: dataType,
                    success: function (_data) {
                        if (_data.status == 1) {
                            layer.msg(_data.message, {icon: 1});
                            setTimeout(function () {
                                top.searthes_erpGoodsList();
                            }, 1000);
                        } else {
                            layer.msg(_data.message, {icon: 2});
                            setTimeout(function () {
                                top.searthes_erpGoodsList();
                            }, 1000);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        is = 1;
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log('请求异常，请检查！');
                    }
                });
            });
        } else {
            layer.msg('无法批量删除，只能选择一项', {icon: 2});
        }
    }

    /*商品-审核*/
    function erpgoods_audit(title) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            id = $('.checkchild:checked').val();
            var url = '<{:U("ErpGoods/actAuditErpGoods")}>';
            var type = 'post';
            var dataType = 'json';
            layer.confirm('请确认是否审核！', {
                btn: ['是', '取消']
            }, function () {
                $.ajax({
                    url: url,
                    data: {id: id},
                    type: type,
                    dataType: dataType,
                    success: function (_data) {
                        if (_data.status == 1) {
                            layer.msg(_data.message, {icon: 1});
                            setTimeout(function () {
                                top.searthes_erpGoodsList();
                            }, 1000);
                        } else {
                            layer.msg(_data.message, {icon: 2});
                            setTimeout(function () {
                                top.searthes_erpGoodsList();
                            }, 1000);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        is = 1;
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log('请求异常，请检查！');
                    }
                });
            });
        } else {
            layer.msg('无法批量审核，只能选择一项', {icon: 2});
        }
    }

    // @搜索框搜索查询
    top.searthes_erpGoodsList = function (status) {
        var current_page = status || false;
        var param = $('#searchErp').serialize();
        table.api().ajax.url("<{:U('ErpGoods/erpGoodsList')}>?" + param);
        table.api().ajax.reload(function(){
            $('#subes').val('查询').attr('disabled', false);
            layer.closeAll('loading');
        }, current_page);
    }

    function sub_select() {
        $('#subes').val('查询中...').attr('disabled', true);
        var index = layer.load(0, {shade: false});
        top.searthes_erpGoodsList(true);

    }

    //    // @搜索
    //    top.searthesRetailFinance = function(){
    //        var url = "<{:U('RetailFinance/orderReconciliationList')}>" + '?' + $("#form1").serialize();
    //        table.api().ajax.url(url);
    //        table.api().ajax.reload();
    //    }
    //
    //    function sub_select(){
    //        $('#subes').val('查询中...');
    //        var index = layer.load(0, {shade: false});
    //        top.searthesRetailFinance();
    //        setTimeout(function(){
    //            $('#subes').val('查询');
    //            layer.closeAll('loading');
    //        }, 1000);
    //    }

    $('.table-sort tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        } else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

    $('#dataTable tbody').on('click', 'tr', function () {

        var index = $(this).index();
        var status = $('#dataTable tbody tr').eq(index).find('.checkchild').attr('status');

        if (status == 0) {
            var c = $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked');
            if (c) {
                $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', false);
            } else {
                $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
            }
        }
    });
    $('#dataTable tbody').on('click', 'tr', function () {
        var index = $(this).index();
        $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
        $('#dataTable tbody tr').eq(index).siblings().find('.checkchild').prop('checked', false);

    });
</script>
