<include file="./Application/Home/View/headers.html"/>
<!--<link href="__TPL__static/h-ui.admin/css/bootstrap.min.css-v=3.3.5.css"  rel="stylesheet">-->
<!--<link href="__TPL__static/h-ui.admin/css/style.min.css-v=4.0.0.css"  rel="stylesheet">-->
<style>
    .input-text {
        height: 28px;
        position: relative;
        vertical-align: middle;
    }
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 销售单管理 <span
        class="c-gray en">&gt;</span> 销售退货单 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                               href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <form id="searchSupply" action="" method="post" autocomplete="off">
            <div class="mt-10">

                <input type="text" name="order_number" id="order_number" class="input-text" style="width:10%;"
                       placeholder="销售退货单">

                <input type="text" name="source_order_number" id="source_order_number" class="input-text" style="width:10%;"
                       placeholder="来源单号">

                <input type="text" name="start_time" id="start_time" class="input-text Wdate" style="width:10%;"
                       placeholder="起始退货日期" readonly
                       onFocus="WdatePicker({lang:'zh-cn',minDate:'2015-03-01',dateFmt: 'yyyy-MM-dd'})">

                <input type="text" name="end_time" id="end_time" class="input-text Wdate" style="width:10%;"
                       placeholder="截止退货日期" readonly
                       onFocus="WdatePicker({lang:'zh-cn',minDate:'2015-03-01',dateFmt: 'yyyy-MM-dd'})">

                <select name="goods_id" class="input-text" style="width:20%" id="search_goods_code">
                    <optgroup label="商品列表">
                        <option value="0">全部商品</option>
                        <volist name="data.goodsList" id="vo" key="k">
                            <option value="<{$vo.id}>">
                                <{$vo.goods_code}>/<{$vo.goods_name}>/<{$vo.source_from}>/<{$vo.grade}>/<{$vo.level}>
                            </option>
                        </volist>
                    </optgroup>
                </select>

            </div>

            <div class="mt-10">

                <select name="order_status" class="input-text" style="width:10%">
                    <option value=''>订单状态</option>
                    <volist name="data.saleOrderStatus" id="vo" key="k">
                        <option value='<{$key}>'><{$vo}></option>
                    </volist>
                </select>

                <select name="return_type" class="input-text" style="width:10%">
                    <option value=''>退货类型</option>
                    <volist name="data.return_type" id="vo" key="k">
                        <option value='<{$key}>'><{$vo}></option>
                    </volist>
                </select>

                <input type="text" name="dealer_name" id="dealer_name" class="input-text" style="width:10%;"
                       placeholder="交易员">

                <input type="text" name="sale_user" id="sale_user" class="input-text" style="width:10%;"
                       placeholder="客户">

                <select name="sale_company_id" class="input-text" id="sale_company_id" style="width:20%">
                    <option></option>
                </select>

            </div>

            <div class="mt-10">

                <select name="return_amount_status" class="input-text" style="width:10%">
                    <option value=''>退款状态</option>
                    <option value='1'>未退款</option>
                    <option value='10'>已退款</option>
                </select>

                <select name="province" class="input-text" style="width:10%" id="search_province" onchange="changeCity(this.value)">
                    <optgroup label="城市列表">
                        <option value="0">全部省份</option>
                        <volist name="data.provinceList" id="vo" key="k">
                            <option value="<{$key}>">
                                <{$vo}>
                            </option>
                        </volist>
                    </optgroup>
                </select>

                <select name="region" class="input-text" style="width:10%" id="search_region">
                    <optgroup label="城市列表">
                        <option value="0">全部城市</option>
                        </volist>
                    </optgroup>
                </select>

                <select name="depot_id" class="input-text" style="width:10%" id="search_depot">
                    <optgroup label="油库列表">
                        <option value="0">全部油库</option>
                        <option value="99999">不限油库</option>
                    </optgroup>
                </select>

                <select name="storehouse_id" class="input-text" style="width:10%" id="search_storehouse">
                    <optgroup label="仓库列表">
                        <option value="0">全部仓库</option>
                    </optgroup>
                </select>
                <select name="business_type" class="input-text" style="width:10%" id="business_type">
                    <option value=''>业务类型</option>
                    <volist name="data.business_type" id="vo" key="k">
                        <option value='<{$key}>'><{$vo}></option>
                    </volist>
                </select>

                <input type="button" class="btn btn-success radius" value="查询" onclick="sub_select()" id="subes"/>

            </div>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20" id='sale_return_order' style="display:none;">

        <span><a href="javascript:;"  class="btn btn-primary radius" onclick="update_order('编辑', '<{:U(\'ErpReturned/updateSaleReturn\')}>', '900','550')" id="update_order"><i class="Hui-iconfont Hui-iconfont-edit2"></i>编辑</a></span>
        <span><a href="javascript:;" class="btn btn-danger radius" onclick="cancel_order()" id="cancel_order"><i class="Hui-iconfont Hui-iconfont-del2"></i>删除</a></span>
        <span><a href="javascript:;" class="btn btn-success radius" onclick="audit_order()" id="audit_order"><i class="Hui-iconfont Hui-iconfont-xuanze"></i>审核</a></span>
        <span><a href="javascript:;" class="btn btn-primary radius" onclick="confirm_order()" id="confirm_order"><i class="Hui-iconfont">&#xe6e1;</i>确认</a></span>
        <span><a href="javascript:;" class="btn btn-primary radius" onclick="workflow_order('审批流详情', '<{:U(\'ErpWorkFlow/orderWorkflow\')}>', '900','550')" id="workflow_order"><i class="Hui-iconfont">&#xe667;</i>审批流详情</a></span>
        <span><a href="javascript:;"  class="btn btn-primary radius" onclick="upload_contract('退货凭证上传', '<{:U(\'ErpReturned/uploadVoucher\')}>', '800','400')" id="upload_contract"><i class="Hui-iconfont Hui-iconfont-upload"></i>退货凭证上传</a></span>
        <span><a href="javascript:;" onclick="export_excel('导出')" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe644;</i>导出</a>&nbsp;</span>
        <span><a href="javascript:;" class="btn btn-danger radius check_access" value="ErpReturned-reverseSaleReturnOrder" onclick="reverse_Order()" id="reverse_Order"><i class="Hui-iconfont Hui-iconfont-del2"></i>红冲</a>&nbsp;</span>

    </div>

    <div class="mt-20" style="overflow-x:scroll;white-space:nowrap;">
        <table class="table table-border table-bordered table-hover table-bg table-sort" id="dataTable">
            <thead>
            <tr class="text-c">
                <th></th>
                <th>ID</th>
                <th>单据日期</th>
                <th>实际退货日期</th>
                <th>销售退货单号</th>
                <th>来源单号</th>
                <th>业务类型</th>
                <th>城市</th>
                <th>仓库</th>
                <th>油库</th>
                <th>交易员</th>
                <th>客户</th>
                <th>公司</th>
                <th>退货类型</th>
                <th>商品</th>
                <th>退货数量(吨)</th>
                <th>单价(元)</th>
                <th>退货金额(元)</th>
                <th>订单状态</th>
                <th>退款状态</th>
                <th>备注</th>
                <th>退款走向备注</th>
                <th>创建人</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot style="background-color:#f5fafe;">
            <tr>
                <th class="text-c">当页</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr id="sum_total">
                <th class="text-c">所有</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <input type="hidden" id="order_subsidy_money" value="" name="order_subsidy_money">

    </div>
</div>

<include file="./Application/Home/View/footers.html"/>
<link rel="stylesheet" href="__TPL__lib/select2/css/select2.min.css"/>
<script type="text/javascript" src="__TPL__lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="__TPL__lib/select2/js/i18n/zh-CN.js"></script>
<script type="text/javascript">

        /** 控制权限  **/
        var access_node = <{$access_node}>;
        //console.log(access_node);
        var check_access = [];
        function getCheckAccess(){

            $('.check_access').each(function(){
                //console.log($.trim($(this).attr('value')));
                //console.log($.inArray($.trim($(this).attr('value')),access_node));
                if($.inArray($.trim($(this).attr('value')) , access_node) != -1 && !$.isEmptyObject(access_node)){
                    $(this).show();
                }else{
                    $(this).hide();
                }
            });
            $("#sale_return_order").css("display", "block");
        };
        getCheckAccess();
        /** end 控制权限  **/

    $(function () {
        table = $('.table-sort').dataTable({
            "paging": true,
            "serverSide": true,
            "iDisplayLength": 10,
            ajax: {
                url: "<{:U('ErpReturned/saleReturnOrderList')}>",
                type: 'post'
            },
            "aaSorting": [[2, "desc"]],//默认第几个排序
            "bStateSave": false, //状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                //{"orderable":false,"aTargets":[0,1]}// 制定列不参与排序
            ],
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            "deferRender": true, //延迟渲染
            "searching": false,
            "bPaginate": true,
            "bLengthChange": true,
            "columns": [
                {
                    "data": null,
                    "bSortable": false,
                    render: function (data, type, full, meta) {
                        var str = '';

                        str += '<input type="checkbox"  class="checkchild"  value="' + data.id + '"/>';
                        return str;
                    }
                },
                {"data": "id"},
                {"data": "add_order_time"},
                {"data": "return_goods_time"},
                {"data": "order_number"},
                {"data": "source_order_number"},
                {"data": "business_type"},
                {"data": "region_name"},
                {"data": "storehouse_name"},
                {"data": "depot_name"},
                {"data": "dealer_name"},
                {"data": "user_name"},
                {
                    "data": null,
                    render: function (data, type, full, meta) {
                        var str            = '';
                        var company_name = data.company_name;
                        str += '<a href="javascript:;" title="' + company_name + '"  class="c-primary" onclick="clients_detail(\'公司详情\',\'<{:U(\"/ErpCustomer/updateCustomer?view=1\")}>\',' + data.company_id + ',1000,500)">' + company_name + '</a>';
                        return str;
                    }
                },
                {"data": "return_type"},
                {
                    "data": null,
                    render: function (data, type, full, meta) {
                        var tt = data.source_from + '/' + data.goods_name + '/' + data.grade + '/' + data.level;
                        var str = '';
                        str += '<a href="javascript:;" title="' + tt + '" class="c-primary">' + data.goods_code + '</a>';
                        return str;
                    }
                },
                {"data": "return_goods_num"},
                {"data": "return_price"},
                {"data": "return_amount"},
                {"data": "order_status"},
                {"data": "return_amount_status"},
                {"data": "remark"},
                {"data": "refund_remark"},
                {"data": "creater_name"},
                {"data": "create_time"},
            ],
            "language": { // 定义语言
                "sProcessing": "加载中...",
                "sLengthMenu": "_MENU_",
                "sZeroRecords": "没有匹配的结果",
                "sInfo": "显示 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(_MAX_条)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            footerCallback: function ( row, data, start, end, display,aoData ) {

                if(data == ''){
                    $('tfoot th').eq(0).siblings().html('');
                    $('#sum_total th').eq(0).siblings().html('');
                    //console.log('--');
                    return false;
                }else{
                    var total_return_goods_num = data[0].sumTotal['total_return_goods_num'];
                    var total_returned_amount = data[0].sumTotal['total_returned_amount'];
                    $('#sum_total th').eq(15).html(parseFloat(total_return_goods_num).toFixed(4));
                    $('#sum_total th').eq(17).html(parseFloat(total_returned_amount).toFixed(2));
                }
                var api = this.api();
                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                //Total over all pages

                for(i=0;i<21;i++){

                    if(i == 0){
                        continue;
                    }

                    if(i < 15 || (i > 15 && i < 17) || i > 17){
                        $( api.column( i ).footer() ).html("");
                        continue;
                    }

                    var totals;
                    var total = api.column(i).data();
                    if(total.length > 0){
                        totals = total.reduce(function (a, b) {
                            if (isNaN(a)) {
                                a = 0;
                            }
                            if (isNaN(b)) {
                                b = 0;
                            }
                            return intVal(a) + intVal(b);
                        });
                    }else{
                        totals = 0;
                    }
                    // Total over this page
                    var pageTotals;
                    var pageTotal = api.column(i, {page: 'current'}).data();
                    if(pageTotal.length > 0){
                        pageTotals = pageTotal.reduce(function (a, b) {
                            if (isNaN(a)) {
                                a = 0;
                            }
                            if (isNaN(b)) {
                                b = 0;
                            }
                            return intVal(a) + intVal(b);
                        });
                    }else{
                        pageTotals = 0;
                    }
                    //console.log(pageTotals);
                    pageTotals = intVal(pageTotals) + 0;
                    totals = intVal(totals) + 0;
                    // Update footer
                    if(i ==15){
                        $(api.column(i).footer()).html(
                            '' + parseFloat(pageTotals).toFixed(4)
                        );
                    }else{
                        $(api.column(i).footer()).html(
                            '' + parseFloat(pageTotals).toFixed(2)
                        );
                    }
                }
            }
        });
        // var table = $('.table-sort').dataTable();
        $('.table-sort tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });

    /*销售退货单-详情*/
    function update_order(title, url, w, h) {

        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }

        var id = $(".checkchild:checked").val();
        url = url + '/id/' + id;

        layer_show(title, url, w, h);
    }

    //删除销售退货单
    function cancel_order() {
        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }

        var id = $(".checkchild:checked").val();

        layer.confirm('确定要删除该销售退货单吗？', function () {
            layer.load(1, {shade: 0.3});
            var url = '<{:U("ErpReturned/delSaleReturn")}>';
            var data = {id: id};
            var type = 'post';
            var dataType = 'json';
            ajax(url, data, type, dataType, function (_data) {
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                    searchErpReturnedOrderList();
                } else {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                }
            });
        })
    }

    //审核销售退货单
    function audit_order() {
        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }

        var id = $(".checkchild:checked").val();

        layer.confirm('确定要审核该销售退货单吗？', function () {
            layer.load(1, {shade: 0.3});
            var url = '<{:U("ErpReturned/auditSaleReturn")}>';
            var data = {id: id};
            var type = 'post';
            var dataType = 'json';
            ajax(url, data, type, dataType, function (_data) {
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                    searchErpReturnedOrderList();
                } else {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                }
            });
        })
    }

    /*销售单-审批详情*/
    function workflow_order(title, url, w, h) {

        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }

        var id = $(".checkchild:checked").val();
        url = url + '/id/' + id + '/type/' + 4;
        layer_show(title, url, w, h);
    }

    //上传合同
    function upload_contract(title, url, w, h) {
        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }

        var id = $(".checkchild:checked").val();
        url = url + '/id/' + id;
        layer_show(title, url,w, h);
    }

    //确认订单
    function confirm_order() {
        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }

        var id = $(".checkchild:checked").val();

        layer.confirm('确定要确认该销售退货单吗？', function () {
            layer.load(1, {shade: 0.3});
            var url = '<{:U("ErpReturned/confirmSaleReturn")}>';
            var data = {id: id};
            var type = 'post';
            var dataType = 'json';
            ajax(url, data, type, dataType, function (_data) {
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                    searchErpReturnedOrderList();
                } else {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                }
            });
        })
    }

    searchErpReturnedOrderList = function (status) {
        var current_page = status || false;
        if ($('#goodsName').find('option:selected').val() == '请选择') {
            $('#goodsName').find('option:selected').val('');
        }
        if ($('#goodsLevel').val() == '请选择') {
            $('#goodsLevel').find('option:selected').val('');
        }
        if ($('#goodsGrade').val() == '请选择') {
            $('#goodsGrade').find('option:selected').val('');
        }
        var param = $('#searchSupply').serialize();

        table.api().ajax.url("<{:U('ErpReturned/saleReturnOrderList')}>?" + param);
        table.api().ajax.reload(function(){
            $('#subes').val('查询').attr('disabled', false);
            layer.closeAll('loading');
        }, current_page);
    }

    $('#dataTable tbody').on('click', 'tr', function () {
        var index = $(this).index();
        $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
        $('#dataTable tbody tr').eq(index).siblings().find('.checkchild').prop('checked', false);

    });

    function sub_select() {
        $('#subes').val('查询中...').attr('disabled', true);
        var index = layer.load(0, {shade: false});
        searchErpReturnedOrderList(true);
    }

    var selectGoods = $("#search_goods_code").select2({
        placeholder: '请选择商品',
        allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });
    var selectProvince = $("#search_province").select2({
        placeholder: '请选择省份',
        //allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });
    var selectRegion = $("#search_region").select2({
        placeholder: '请选择城市',
        //allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });
    var selectCompany = $("#sale_company_list").select2({
        placeholder: '请选择供应商',
        //allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });
    var region_depots     = <{$data.depots}>;
    var region_storehouse = <{$data.storehouse}>;
    var city2             = <{$data.city2}>;
    $("#search_region").change(function () {

        var region = $.trim($(this).val());
        var depots = region_depots[region];
        var depots_list = [];
        var options = '<option value="0">全部油库</option>';
        options += '<option value="99999">不限油库</option>';
        for (var i in depots) {
            //depots_list.push(v.);//push();
            options += '<option value="' + depots[i].id + '">' + depots[i].depot_name + '</option>';
        }
        $("#search_depot").html(options);
        //selectDepot.val(depots).trigger('change');
        var storehouses = region_storehouse[region];

        var options = '<option value="0">全部仓库</option>';
        // += '<option value="99999">不限油库</option>';
        for (var i in storehouses) {
            //depots_list.push(v.);//push();
            options += '<option value="' + storehouses[i].id + '">' + storehouses[i].storehouse_name + '</option>';
        }
        $("#search_storehouse").html(options);
    });
    var selectDepot = $("#search_depot").select2({
        placeholder: '请选择油库',
        //allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });
    var selectStorehouse = $("#search_storehouse").select2({
        placeholder: '请选择仓库',
        //allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });
    $("#sale_company_id").select2({
        ajax: {
            type: 'GET',
            //url: "<{:U('Clients/getCompanyByName')}>",
            url: "<{:U('ErpCustomer/getCustomerData')}>",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term 请求参数
                    restrict: 2,
                    //page: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;

                return {
                    results: data.data,//itemList
//                    pagination: {
//                        more: (params.page * 30) < data.total_count
//                    }
                };
            },
            cache: true,

        },
        placeholder: '请输入公司名称',//默认文字提示
        language: "zh-CN",
        tags: true,//允许手动添加
        allowClear: true,//允许清空
        escapeMarkup: function (markup) {
            return markup;
        }, // 自定义格式化防止xss注入
        minimumInputLength: 1,
        templateResult: function formatRepo(repo) {
            if (repo.loading == true) return repo.text; else if (typeof(repo.company_name) != 'undefined') return '<option value="' + repo.id + '">' + repo.company_name + '</option>';
        }, // 函数用来渲染结果
        templateSelection: function formatRepoSelection(repo) {
            if (typeof(repo.company_name) != 'undefined') {
                return repo.company_name;
            } else if (repo.text == '请输入公司名称') {
                return repo.text;
            }
        } // 函数用于呈现当前的选择
    });

    //验证是否是数字（保留两位小数）
    function checknum(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value= parseFloat(obj.value);
        }
        if(obj.value.indexOf(".") == 0){
            obj.value = '';
        }
    }
    //验证是否是数字（保留两位小数）
    function checknum4(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d{4}).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value= parseFloat(obj.value);
        }
        if(obj.value.indexOf(".") == 0){
            obj.value = '';
        }
    }
    /* 导出 */
    function export_excel(title) {
        layer.confirm('确认导出？', {
            btn: ['是', '取消']
        }, function () {
            var param = $('#searchSupply').serialize();
            var url = '<{:U("ErpReturned/exportSaleReturnOrderData")}>?'+param;
            layer.load(1, {shade: 0.3});
            window.location.href = url;
            setTimeout(function(){
                layer.closeAll();
            }, 1000);
        });
    }
    /*用户-编辑*/
    function clients_detail(title, url, id, w, h) {
        if(id > 0){
            url = url + '/id/' + id;
            layer_show(title, url, w, h);
        }else{
            layer.alert("请选择有效公司");
        }
    }

    function changeCity(id){
        var citylist = city2[id];
        var optionst = '<option value="0">全部油库</option>';
        var optionse = '<option value="0">全部仓库</option>';
        $('#search_region').html('');
        $("#search_storehouse").html(optionse);
        $("#search_depot").html(optionst);
        if(id <= 0) return false;
        var options = '<option value=0>请选择</option>';
        var selected = '';
        $.each(citylist, function (i, item) {
            if ($('#search_region').val() == item.id) {
                selected = 'selected="selected"';
            }
            options += '<option value="' + item.id + '" ' + selected + '>' + item.area_name + '</option>';
        });
        $('#search_region').html(options);
    }

    /*调拨单-调拨单红冲*/
    function reverse_Order() {
        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }
        var id = $(".checkchild:checked").val();
        layer.confirm('确定要红冲该销退单吗？', function () {
            layer.load(1, {shade: 0.3});
            var url = '<{:U("ErpReverse/reverseReturnSaleOrder")}>';
            var data = {id: id};
            var  type = 'post';
            var  dataType = 'json';
            ajax(url, data, type, dataType, function (_data) {
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                   searchErpReturnedOrderList();
                } else {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                }
            });
        });
    }

</script>
