/Application/Common/Conf
/Application/Home/Conf
/Application/Runtime
/Resources
/Public/Uploads
/.idea
/.settings
.idea
*.bak
*.swp
*.un~
.lock
.DS_Store
access.log
/.buildpath
/.project
/.vscode
/D:
