<include file="./Application/Home/View/headers.html"/>
<link rel="stylesheet" href="__TPL__lib/select2/css/select2.min.css"/>
<style>
    .disabled {
        cursor: no-drop;
        background-color: rgb(235, 235, 228);
    }
    .input-text {
        width: 78%
    }
    .hidden{
        display: none;
    }
</style>
<script type="text/javascript" src="__TPL__lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="__TPL__lib/select2/js/i18n/zh-CN.js"></script>
<script type="text/javascript" src="__TPL__static/select.js"></script>
<article class="page-container" style=" overflow:hidden;" id="input_list">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div>
            <div class="row cl col-sm-12" style="margin-top: 0">
                <p>基本信息</p>
                <hr/>
                <br/>
                <label class="form-label col-xs-2 "><span class="c-red">*</span>调拨数量(吨):</label>

                <div class="formControls col-xs-9 col-sm-4">
                    <input class="input-text disabled" disabled value="<{$data.order.num}>" name="num">
                    <span id="sps1"></span>
                </div>

                <label class="form-label col-xs-2 ">提单号:</label>

                <div class="formControls col-xs-9 col-sm-4">
                    <input type="text" class="input-text" id="pick_up_number" name="pick_up_number" value=""/>
                </div>
            </div>
        </div>
        <!--<div>-->
            <!--<div class="row cl col-sm-12">-->
                <!--<label class="form-label col-xs-2 "><span class="c-red">*</span>调拨类型:</label>-->
                <!--<input type="radio" name="allocation_type" value="1" style="margin-left: 15px" checked="checked">城市仓->服务商-->
                <!--<input type="radio" name="allocation_type" value="2" style="margin-left: 15px">服务商->服务商-->
                <!--<input type="radio" name="allocation_type" value="3" style="margin-left: 15px">服务商->城市仓-->
                <!--<input type="radio" name="allocation_type" value="4" style="margin-left: 15px">城市仓->城市仓-->
            <!--</div>-->
        <!--</div>-->
        <div>
            <div class="row cl col-sm-12">
                <label class="form-label col-xs-2 "><span class="c-red">*</span>出库类型:</label>

                <div class="formControls col-xs-9 col-sm-4">
                    <input class="input-text disabled" disabled value="<{$data.order.out_type}>" name="out_type">
                    <span id="sps2"></span>
                </div>

                <div>
                    <label class="form-label col-xs-2 "><span class="c-red">*</span>入库类型:</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text disabled" disabled value="<{$data.order.in_type}>" name="in_type">
                        <span id="sps3"></span>
                    </div>
                </div>


            </div>
            <div  class="row cl col-sm-12">
                <div>
                    <label class="form-label col-xs-2"><span class="c-red">*</span>出库方名称:</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text disabled" disabled value="<{$data.order.out_object_name}>" name="out_object_name">
                        <span id="sps4"></span>
                    </div>
                </div>
                <div>

                    <label class="form-label col-xs-2 "><span class="c-red">*</span>入库方名称:</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text disabled" disabled value="<{$data.order.in_object_name}>" name="in_object_name">
                        <span id="sps5"></span>
                    </div>

                </div>

            </div>

            <div  class="row cl col-sm-12">
                <div id="out_t" style="display: none;">
                    <label class="form-label col-xs-2" style="padding:0;"><span class="c-red">*</span>实际出库数量(吨):</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text " value="" name="actual_out_num" id="actual_out_num" onkeyup="checknum(this)">
                        <span id="sps6"></span>
                    </div>
                </div>

                <div id="in_t" style="display: none;">
                    <label class="form-label col-xs-2" style="padding:0;"><span class="c-red">*</span>实际入库数量(吨):</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text" value="" name="actual_in_num" id="actual_in_num" onkeyup="checknum(this)">
                        <span id="sps7"></span>
                    </div>
                </div>
            </div>
            <div  class="row cl col-sm-12">

                <div id="out_l" style="display: none;">

                    <label class="form-label col-xs-2" style="padding:0;"><span class="c-red">*</span>实际出库数量(升):</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text" value="" name="actual_out_num_liter" id="actual_out_num_liter" onkeyup="checknum(this)" onblur="checkoutliter()">
                        <span id="sps8"></span>
                    </div>

                </div>
                <div  id="in_l" style="display: none;">

                    <div class="formControls col-xs-9 col-sm-4" style="float: right;">
                        <input class="input-text" value="" name="actual_in_num_liter" id="actual_in_num_liter" onkeyup="checknum(this)" onblur="checkinliter()">
                        <span id="sps9"></span>
                    </div>
                    <label class="form-label col-xs-2" style="padding:0; float: right;"><span class="c-red">*</span>实际入库数量(升):</label>
                </div>

            </div>

            <div  class="row cl col-sm-12">
                <div id="out_d" style="display: none;margin-left: 0px; padding-left: 0px;">

                    <label class="form-label col-xs-2" style="padding:0;">实际出库密度:</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text" value="<{$data['out_density']}>" name="out_density" id="out_density" onkeyup="checknum(this)" onblur="checkoutdensity(this)">
                    </div>

                </div>
                <div  id="in_d" style="display: none;margin-right: 0px; padding-right: 0px;">

                    <div class="formControls col-xs-9 col-sm-4" style="float: right;">
                        <input class="input-text" value="<{$data['in_density']}>" name="in_density" id="in_density" onkeyup="checknum(this)" onblur="checkindensity(this)">
                    </div>

                    <label class="form-label col-xs-2" style="padding:0; float: right;">实际入库密度:</label>
                </div>
            </div>
        </div>

        <div class="row cl col-sm-12" style="margin-top:10px;">
            <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-6">
                <input type="hidden" id="id" name="id" value="<{$data.order.id}>"/>
                <input type="hidden" id="allocation_type" name="allocation_type" value="<{$data.order.allocation_type}>"/>
                <input class="btn btn-primary radius" id="add" type="button" value="提交">
            </div>
        </div>
    </form>
</article>

<script type="text/javascript">
    // @表单验证 <senpai | 2017.3.10>

    var allocation_type = $('#allocation_type').val();
    var out_t = $('#out_t');
    var out_l = $('#out_l');
    var in_t = $('#in_t');
    var in_l = $('#in_l');
    var out_d = $('#out_d');
    var in_d = $('#in_d');
    if(allocation_type == 1 ){
        out_t.show();
        in_t.show();
        $("#actual_in_num").prop('disabled',true).addClass('disabled');
        out_l.hide();
        in_l.show();
        out_d.hide();
        in_d.show();
    }else if(allocation_type == 2){
        out_t.show();
        in_t.show();
        $("#actual_out_num").prop('disabled',true).addClass('disabled');
        $("#actual_in_num").prop('disabled',true).addClass('disabled');
        out_l.show();
        in_l.show();
        out_d.show();
        in_d.show();
    }else if(allocation_type == 3){
        out_t.show();
        in_t.show();
        $("#actual_out_num").prop('disabled',true).addClass('disabled');
        out_l.show();
        in_l.hide();
        out_d.show();
        in_d.hide();
    }else if(allocation_type == 4){
        out_t.show();
        in_t.show();
        out_l.hide();
        in_l.hide();
        out_d.hide();
        in_d.hide();
    }
    //验证信息正确
    function checktrue($place) {
        $('#' + $place).html("<i class='Hui-iconfont'>&#xe676;</i>");
        $('#' + $place).removeClass();
        $('#' + $place).addClass("c-green");
    }

    //验证信息错误
    function checkfalse($place) {
        $('#' + $place).html("<i class='Hui-iconfont'>&#xe706;</i>");
        $('#' + $place).removeClass();
        $('#' + $place).addClass("c-red");
    }

    //验证是否是数字（保留四位小数）
    function checknum(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{4,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d{4}).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value= parseFloat(obj.value);
        }
        if(obj.value.indexOf(".") == 0){
            obj.value = '';
        }
    }

    //验证是否是数字（保留三位小数）
    function checknum2(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d{2}).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value= parseFloat(obj.value);
        }
        if(obj.value.indexOf(".") == 0){
            obj.value = '';
        }
    }

    //根据升数计算吨数
    function checkoutliter() {
        if ($("#actual_out_num_liter").val() && $("#out_density").val()) {
            $("#actual_out_num").val(($("#out_density").val() * $("#actual_out_num_liter").val() /1000).toFixed(4));
        }
    }

    //根据升数计算吨数
    function checkinliter() {
        if ($("#actual_in_num_liter").val() && $("#in_density").val()) {
            $("#actual_in_num").val(($("#in_density").val() * $("#actual_in_num_liter").val() / 1000).toFixed(4));
        }
    }

    //验证油品密度
    function checkoutdensity(density) {
        console.log($(density).val());
        if ($.trim($(density).val()) < 0.7 || $.trim($(density).val()) > 1) {
            layer.msg("油品密度超出规格！", {icon: 2});
            checkfalse('sps6');
            submitFalse();
            return false;
        } else {
            if ($("#actual_out_num_liter").val()) {
                $("#actual_out_num").val(($(density).val() * $("#actual_out_num_liter").val() /1000).toFixed(4));
            }
            return true;
        }
    }

    //验证油品密度
    function checkindensity(density) {
        console.log($(density).val());
        if ($.trim($(density).val()) < 0.7 || $.trim($(density).val()) > 1) {
            layer.msg("油品密度超出规格！", {icon: 2});
            checkfalse('sps6');
            submitFalse();
            return false;
        } else {
            if ($("#actual_in_num_liter").val()) {
                $("#actual_in_num").val(($(density).val() * $("#actual_in_num_liter").val() / 1000).toFixed(4));
            }
            return true;
        }
    }

    // @确认调拨单
    $(function () {
        //添加erp商品操作
        $('#add').click(function () {
            submitTrue();
            if ($('#form-member-add').valid() == false) {
                return false;
            }
            var da = {
                'id': $("#id").val(),
                'pick_up_number': $("#pick_up_number").val(),
                'actual_out_num': $.trim($("#actual_out_num").val()),
                'actual_in_num': $.trim($("#actual_in_num").val()),
                'actual_out_num_liter': $.trim($("#actual_out_num_liter").val()),
                'actual_in_num_liter': $.trim($("#actual_in_num_liter").val()),
                'allocation_type': $("#allocation_type").val(),
                'out_density': $("#out_density").val(),
                'in_density': $("#in_density").val(),
            };
            console.log(da);
            if(da.allocation_type == 1){
                if(da.actual_out_num == ''){
                    layer.msg('请输出实际出库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
                if(da.actual_in_num_liter == ''){
                    layer.msg('请输入实际入库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
            }else if(da.allocation_type == 2){
                if(da.actual_out_num_liter == ''){
                    layer.msg('请输出实际出库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
                if(da.actual_in_num_liter == ''){
                    layer.msg('请输入实际入库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
            }else if(da.allocation_type == 3){
                if(da.actual_out_num_liter == ''){
                    layer.msg('请输出实际出库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
                if(da.actual_in_num == ''){
                    layer.msg('请输入实际入库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
            }else if(da.allocation_type == 4){

                if(da.actual_out_num == ''){
                    layer.msg('请输出实际出库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
                if(da.actual_in_num == ''){
                    layer.msg('请输入实际入库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
            }

            layer.load(1, {shade: 0.3});
            var url = '<{:U("ErpAllocation/confirmAllocationOrder")}>';
            var type = 'post';
            var dataType = 'json';
            var data = da;
            ajax(url, data, type, dataType, function (_data) {
                layer.load(1, {shade: 0.3});
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                    top.searthesErpAllocationOrderList();
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        submitFalse();
                    }, 500);
                } else {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                    submitFalse();
                    return false;
                }
            });

        });
    });

    // @添加下单按钮禁用属性
    function submitTrue() {
        $('#add').attr("disabled", true);
    }

    // @移除下单按钮禁用属性
    function submitFalse() {
        $('#add').attr("disabled", false);
    }
</script>
