<include file="./Application/Home/View/headers.html"/>
<script type="text/javascript" src="__TPL__static/select.js"></script>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 工作中心 <span
        class="c-gray en">&gt;</span> 我的流程 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <form id="searchErp">
            <div class="mt-10">
                <span class="ml-10">类型：</span>
                <select id="workflow_type" name="workflow_type" class="input-text" style="width:15%">
                    <option value="0">请选择</option>
                    <option value="1">销售单</option>
                    <option value="2">采购单</option>
                    <option value="3">调拨单</option>
                    <option value="4">销退单</option>
                    <option value="5">采退单</option>
                    <option value="6">预存单</option>
                    <option value="7">预付单</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="order_number" id="order_number" class="input-text" style="width:15%;"
                       placeholder="单据编号">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="ml-10">单据状态：</span>
                <select id="workflow_status" name="workflow_status" class="input-text" style="width:15%">
                    <option value="0">请选择</option>
                    <option value="1">审批中</option>
                    <option value="2">已取消</option>
                    <option value="3">已完成</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" onclick="sub_select()" id="subes" class="btn btn-success radius"value="查询"/>
            </div>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l"><a href="javascript:;" onclick="workflow_detail('', '<{:U(\'ErpWorkFlow/myWorkFlowDetail\')}>', '', '80%','550')" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe6df;</i>详情</a>&nbsp;</span>
    </div>
    <div class="mt-20" style="overflow-x:scroll;white-space:nowrap;">
        <table class="table table-border table-bordered table-hover table-bg table-sort" id="dataTable" width="100%">
            <thead>
            <tr class="text-c">
                <!-- <th><input type="checkbox" value="" name="" class="checkAll"></th> -->
                <th>选择</th>
                <th>序号</th>
                <th>流程名称</th>
                <th>单据类型</th>
                <th>单据编号</th>
                <th>我方公司</th>
                <th>申请时间</th>
                <th>待审核人</th>
                <th>审批状态</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<include file="./Application/Home/View/footers.html"/>

<script type="text/javascript">
    var table = $('.table-sort').dataTable({
        "paging": true,
        "serverSide": true,
        "iDisplayLength": 10,
        "displayStart": 0,
        ajax: {
            url: "<{:U('ErpWorkFlow/myWorkFlowList')}>",
            type: 'post'
        },
        "aaSorting": [[2, "desc"]],//默认第几个排序
        "bStateSave": false, //状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            //{"orderable":false,"aTargets":[0,1]}// 制定列不参与排序
        ],
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        "deferRender": true, //延迟渲染
        "searching": false,
        "bPaginate": true,
        "bLengthChange": true,
        "columns": [
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    return '<input type="hidden" id="work_type" value="' + data.work_type + '"><input name="check_box_list" type="checkbox"  class="checkchild"  value="' + data.id + '" /><input type="hidden" class="work_flow" value="' + data.workflow_type + '">';
                }
            },
            {"data": "id"},
            {"data": "workflow_name"},
            {"data": "workflow_type"},
            {"data": "workflow_order_number"},
            {"data": "our_company_name"},
            {"data": "create_time"},
            {"data": "assignor"},
            {"data": "workflow_status"},
        ],
    });

    /*审批流-详情*/
    function workflow_detail(title, url, id, w, h) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            id    = $('.checkchild:checked').val();
            type  = $('.checkchild:checked').prev().val();
            title = '工作中心 > 我的流程 - 详情（'+$('.checkchild:checked').next().val()+'）';
            url = url + '/id/' + id + '/type/' + type;
            layer_show(title, url, w, h);
        } else {
            layer.msg('无法批量编辑，只能选择一项', {icon: 2});
        }
    }

    // @搜索框搜索查询
    top.searthes_myWorkflowList = function (status) {
        var current_page = status || false;
        var param = $('#searchErp').serialize();
        table.api().ajax.url("<{:U('ErpWorkFlow/myWorkFlowList')}>?" + param);
        table.api().ajax.reload(function(){
            $('#subes').val('查询').attr('disabled', false);
            layer.closeAll('loading');
        }, current_page);
    }

    function sub_select() {
        $('#subes').val('查询中...').attr('disabled', true);
        var index = layer.load(0, {shade: false});
        top.searthes_myWorkflowList(true);

    }

    $('.table-sort tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        } else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

    $('#dataTable tbody').on('click', 'tr', function () {

        var index = $(this).index();
        var status = $('#dataTable tbody tr').eq(index).find('.checkchild').attr('status');

        if (status == 0) {
            var c = $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked');
            if (c) {
                $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', false);
            } else {
                $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
            }
        }
    });
    $('#dataTable tbody').on('click', 'tr', function () {

        var index = $(this).index();
        $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
        $('#dataTable tbody tr').eq(index).siblings().find('.checkchild').prop('checked', false);

    });
</script>
