<include file="./Application/Home/View/headers.html"/>
<style>
    .input-text {
        height: 28px;
        position: relative;
        vertical-align: middle;
    }
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 损耗单管理 <span
        class="c-gray en">&gt;</span> 损耗单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <form id="searchSupply" action="" method="post" autocomplete="off">

            <div  class="mt-10">
                <input type="text" name="order_number" id="order_number" class="input-text" style="width:20%;"
                       placeholder="单据编号">
                <input type="text" name="source_number" id="source_number" class="input-text" style="width:20%;"
                       placeholder="来源单号">
                <input type="text" name="start_time" id="start_time" class="input-text Wdate" style="width:20%;"
                       placeholder="起始订单日期" readonly
                       onFocus="WdatePicker({lang:'zh-cn',minDate:'2015-03-01',dateFmt: 'yyyy-MM-dd'})">
                <input type="text" name="end_time" id="end_time" class="input-text Wdate" style="width:20%;"
                       placeholder="截止订单日期" readonly
                       onFocus="WdatePicker({lang:'zh-cn',minDate:'2015-03-01',dateFmt: 'yyyy-MM-dd'})">
            </div>
            <div class="mt-10">
                <select name="reversed_status" class="input-text" id="reversed_status" style="width:20%">
                    <option value="0">是否红冲</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
                <select name="order_status" class="input-text" id="order_status" style="width:20%">
                    <option value="0">损耗单状态</option>
                    <volist name="data.loss_status" id="vo" key="k">
                        <option value="<{$key}>"><{$vo}></option>
                    </volist>
                </select>
                <select name="source_type" class="input-text" id="source_type" style="width:20%">
                    <option value="0">损耗来源</option>
                    <volist name="data.source_type" id="vo" key="k">
                        <option value="<{$key}>"><{$vo}></option>
                    </volist>
                </select>
                <input type="text" name="company_name" id="company_name" class="input-text" style="width:20%;"
                       placeholder="供应商公司">
               
            </div>
            <div class="mt-10">
                <select name="responsible_party" class="input-text" id="responsible_party" style="width:20%">
                    <option value="">超损承担方</option>
                    <option value="0">未明确</option>
                    <volist name="data.responsible_party" id="vo" key="k">
                        <option value="<{$key}>"><{$vo}></option>
                    </volist>
                </select>
                <input type="text" name="shipping_order_number" id="shipping_order_number" class="input-text" style="width:20%;"
                       placeholder="配送单号">
                 <input type="button" class="btn btn-success radius" value="查询" onclick="sub_select()" id="subes"/>
            </div>

        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span><a href="javascript:;"  class="btn btn-primary radius" onclick="update_order('损耗单编辑', '<{:U(\'ErpLoss/editLoss\')}>', '900','550')" id="update_order"><i class="Hui-iconfont Hui-iconfont-edit2"></i>编辑</a></span>

        <span><a href="javascript:;" onclick="erpLoss_audit('审核')" class="btn btn-success radius"><i class="Hui-iconfont">&#xe6e1;</i>审核</a>&nbsp;</span>

        <span><a href="javascript:;" onclick="erpLoss_confirm('确认')" class="btn btn-success radius"><i class="Hui-iconfont">&#xe6e1;</i>确认</a>&nbsp;</span>

        <span><a href="javascript:;"  class="btn btn-primary radius check_access" value="ErpLoss-addFreightOrder" onclick="addFreightOrder('转运费单', '<{:U(\'ErpLoss/addFreightOrder\')}>', '900','550')"><i class="Hui-iconfont Hui-iconfont-edit2"></i>转运费单</a></span>

        <span><a href="javascript:;" onclick="erpLoss_delete('取消')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe609;</i>取消</a>&nbsp;</span>
        <span><a href="javascript:;"  onclick="erpLoss_reverse('红冲')" class="btn btn-danger radius check_access" value="ErpLoss-rollBackLossOrder"><i class="Hui-iconfont">&#xe609;</i>红冲</a>&nbsp;</span>
        <span><a href="javascript:;" onclick="export_excel('导出')" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe644;</i>导出</a></span>
        <!-- <span><a href="javascript:;"  class="btn btn-primary radius" onclick="add_in_stock('生成入库单', '<{:U(\'ErpStockInApply/addStockInOrder\')}>', '900','550')" id="add_out_stock"><i class="Hui-iconfont Hui-iconfont-chuku"></i>生成入库单</a></span> -->
    </div>
    <div class="mt-20" style="overflow-x:scroll;white-space:nowrap;">
        <table class="table table-border table-bordered table-hover table-bg table-sort" id="dataTable">
            <thead>
            <tr class="text-c">
                <th></th>
                <th>ID</th>
                <th>订单时间</th>
                <th>单据编号</th>
                <th>来源单号</th>
               
                <th>供应商公司</th>
                <th>损耗类型</th>
                <th>交易员</th>
                <th>城市</th>
                <th>仓库</th>
                <th>商品代码</th>

                <th>损耗数量</th>
                <th>合理损耗（吨）</th>
                <th>超损（吨）</th>
                <th>比例</th>
                <th>含税单价</th>
                <th>合理损耗金额</th>
                <th>超损金额</th>
                <th>超损承担方</th>
                <th>状态</th>
                <th>合理处理状态</th>
                <th>超损处理状态</th>
                <th>是否红冲</th>
                <th>配送单号</th>
                <th>批次号</th>
                <th>货权号</th>
            </tr>
            </thead>
            <tbody> 

            </tbody>
            <tfoot style="background-color:#f5fafe;">
            <tr>
                <th class="text-c">当页</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="pageAll_loss_num"></th>
                <th class="pageAll_reasonable_loss_num"></th>
                <th class="pageAll_exceed_loss_num"></th>
                <th></th>
                <th class="pageAll_price"></th>
                <th class="pageAll_reasonable_loss_price"></th>
                <th class="pageAll_exceed_loss_price"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
            </tr>
            <tr id="sum_total">
                <th class="text-c">所有</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="all_loss_num"></th>
                <th class="all_reasonable_loss_num"></th>
                <th class="all_exceed_loss_num"></th>
                <th></th>
                <th class="all_price"></th>
                <th class="all_reasonable_loss_price"></th>
                <th class="all_exceed_loss_price"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<include file="./Application/Home/View/footers.html"/>
<link rel="stylesheet" href="__TPL__lib/select2/css/select2.min.css"/>
<script type="text/javascript" src="__TPL__lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="__TPL__lib/select2/js/i18n/zh-CN.js"></script>
<script type="text/javascript">
      /** 控制权限  **/
    var access_node = <{$access_node}>;
    //console.log(access_node);
    var check_access = [];
    function getCheckAccess(){

        $('.check_access').each(function(){
            //console.log($.trim($(this).attr('value')));
            //console.log($.inArray($.trim($(this).attr('value')),access_node));
            if($.inArray($.trim($(this).attr('value')) , access_node) != -1 && !$.isEmptyObject(access_node)){
                $(this).show();
            }else{
                $(this).hide();
            }
        });

    };
    getCheckAccess();
    var table = '';
    $(function () {
        //数据进行渲染
        table = $('.table-sort').dataTable({
            "paging": true,
            "serverSide": true,
            "iDisplayLength": 10,
            "displayStart": 0,
            ajax: {
                url: "<{:U('ErpLoss/lossOrderList')}>",
                type: 'post'
            },
            "aaSorting": [[2, "desc"]],//默认第几个排序
            "bStateSave": false, //状态保存
            "aoColumnDefs": [
            ],
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            "deferRender": true, //延迟渲染
            "searching": false,
            "bPaginate": true,
            "bLengthChange": true,
            "columns": [
                {
                    "data": null,
                    "bSortable": false,
                    render: function (data, type, full, meta) {
                        var str = '';

                        str += '<input type="checkbox"  class="checkchild"  value="' + data.id + '"/>';
                        return str;
                    }
                },

                {"data": "id"},
                {"data": "create_time"},
                {"data": "order_number"},
                {
                    "sClass": "text-c",
                    "data": null,
                    "render": function (data, type, full, meta) {
                        var onclick = "detail_stock('详情', '"+data.type+"', '900','550' ,'" + data.source_number + "')";
                        return '<a onclick="' + onclick + '" class="c-primary">' + data.source_number + '</a>';
                    }
                },
                {"data": "company_name"},
                {"data": "type_name"},
                {"data": "dealer_name"},
                {"data": "region_name"},
                {"data": "storehouse_name"},
                {"data": "goods_name"},
                {"data": "loss_num"},
                {"data": "reasonable_loss_num"},
                {"data": "exceed_loss_num"},
                {"data": "loss_ratio"},
                {"data": "price"},
                {"data": "reasonable_loss_price"},
                {"data": "exceed_loss_price"},
                {"data": "responsible_party_name"},
                {"data": "order_status_name"},
                {"data": "reasonable_status_name"},
                {"data": "exceed_status_name"},
                {"data": "reversed_status_name"},
                {"data": "shipping_order_number"},
                {"data": "sys_bn"},
                {"data": "cargo_bn"},
            ],
            footerCallback: function (row, data, start, end, display,aoData) {
                if ( data != '' ) {
                    var pageAll_reasonable_loss_num = data[0].sum_total['pageAll_reasonable_loss_num']
                    var pageAll_exceed_loss_num     = data[0].sum_total['pageAll_exceed_loss_num']
                    var pageAll_loss_num            = data[0].sum_total['pageAll_loss_num']
                    var pageAll_reasonable_loss_price = data[0].sum_total['pageAll_reasonable_loss_price']
                    var pageAll_exceed_loss_price   = data[0].sum_total['pageAll_exceed_loss_price']
                    $(".pageAll_reasonable_loss_num").html(pageAll_reasonable_loss_num.toFixed(4));
                    $(".pageAll_exceed_loss_num").html(pageAll_exceed_loss_num.toFixed(4));
                    $(".pageAll_loss_num").html(pageAll_loss_num.toFixed(4));
                    $(".pageAll_reasonable_loss_price").html(pageAll_reasonable_loss_price.toFixed(2));
                    $(".pageAll_exceed_loss_price").html(pageAll_exceed_loss_price.toFixed(2));
                    var all_reasonable_loss_num = data[0].sum_total['all_reasonable_loss_num']
                    var all_exceed_loss_num     = data[0].sum_total['all_exceed_loss_num']
                    var all_loss_num            = data[0].sum_total['all_loss_num']
                    var all_reasonable_loss_price = data[0].sum_total['all_reasonable_loss_price']
                    var all_exceed_loss_price   = data[0].sum_total['all_exceed_loss_price']
                    $(".all_reasonable_loss_num").html(all_reasonable_loss_num.toFixed(4));
                    $(".all_exceed_loss_num").html(all_exceed_loss_num.toFixed(4));
                    $(".all_loss_num").html(all_loss_num.toFixed(4));
                    $(".all_reasonable_loss_price").html(all_reasonable_loss_price.toFixed(2));
                    $(".all_exceed_loss_price").html(all_exceed_loss_price.toFixed(2));
                } else {
                    $(".pageAll_reasonable_loss_num").html('');
                    $(".pageAll_exceed_loss_num").html('');
                    $(".pageAll_loss_num").html('');
                    $(".pageAll_reasonable_loss_price").html('');
                    $(".pageAll_exceed_loss_price").html('');
                    $(".all_reasonable_loss_num").html('');
                    $(".all_exceed_loss_num").html('');
                    $(".all_loss_num").html('');
                    $(".all_reasonable_loss_price").html('');
                    $(".all_exceed_loss_price").html('');
                }
            }
        });
        $('.table-sort tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
    
    /**新增运费单**/
    function addFreightOrder(title, url, w, h){

        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }
        var id = $(".checkchild:checked").val();
        var info_url = '<{:U("ErpLoss/checkAddFreightOrder")}>';
        ajax(info_url, {loss_id: id}, 'post', 'json', function (_data) {
            if (_data.status == 1) {
                url = url + '/loss_id/' + id;
                layer_show(title, url, w, h);
            } else {
                layer.msg(_data.message, {icon: 2});
                return false;
            }
        });
    }

    function detail_stock(title, url_type, w, h, stock_number){
        if ( url_type == 1 || url_type == 2 ) {
            var url = "<{:U(\'ErpStock/showUpdateErpStockIn\')}>";
        } else {
            var url = "<{:U(\'ErpStock/updateErpStockOut\')}>";
        }
        url = url + '/stock_number/' + stock_number;

        layer_show(title, url, w, h);

    }


    /**编辑损耗单**/
    function update_order(title, url, w, h) {

        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }

        var id = $(".checkchild:checked").val();
        url = url + '/id/' + id;

        layer_show(title, url, w, h);
    }

    /**损耗单-审核**/
    function erpLoss_audit(title) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            id = $('.checkchild:checked').val();
            var url = '<{:U("ErpLoss/lossAudit")}>';
            var type = 'post';
            var dataType = 'json';
            layer.confirm('请确认是否审核！', {
                btn: ['是', '取消']
            }, function () {
                layer.load(1, {shade: 0.3});
                $.ajax({
                    url: url,
                    data: {loss_id: id},
                    type: type,
                    dataType: dataType,
                    success: function (_data) {
                        if (_data.status == 1) {
                            layer.msg(_data.message, {icon: 1});
                            setTimeout(function () {
                                layer.closeAll();
                                searchLossOrderList();
                            }, 1000);
                        } else {
                            layer.msg(_data.message, {icon: 2});
                            setTimeout(function () {
                                layer.closeAll();
                                searchLossOrderList();
                            }, 1000);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        is = 1;
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log('请求异常，请检查！');
                    }
                });
            });
        } else {
            layer.msg('无法批量审核，只能选择一项', {icon: 2});
        }
    }

    /**损耗单-审核**/
    function erpLoss_confirm(title) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            id = $('.checkchild:checked').val();
            var url = '<{:U("ErpLoss/lossConfirm")}>';
            var type = 'post';
            var dataType = 'json';
            layer.confirm('是否确认？', {
                btn: ['是', '取消']
            }, function () {
                layer.load(1, {shade: 0.3});
                $.ajax({
                    url: url,
                    data: {loss_id: id},
                    type: type,
                    dataType: dataType,
                    success: function (_data) {
                        if (_data.status == 1) {
                            layer.msg(_data.message, {icon: 1});
                            setTimeout(function () {
                                layer.closeAll();
                                searchLossOrderList();
                            }, 1000);
                        } else {
                            layer.msg(_data.message, {icon: 2});
                            setTimeout(function () {
                                layer.closeAll();
                                searchLossOrderList();
                            }, 1000);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        is = 1;
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log('请求异常，请检查！');
                    }
                });
            });
        } else {
            layer.msg('无法批量审核，只能选择一项', {icon: 2});
        }
    }

    /*损耗单-取消*/
    function erpLoss_delete(title) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            var id = $('.checkchild:checked').val();
            var url = '<{:U("ErpLoss/lossDelete")}>';
            var type = 'post';
            var dataType = 'json';
            layer.confirm('请确认是否取消！', {
                btn: ['是', '取消']
            }, function () {
                layer.load(1, {shade: 0.3});
                $.ajax({
                    url: url,
                    data: {loss_id: id},
                    type: type,
                    dataType: dataType,
                    success: function (_data) {
                        if (_data.status == 1) {
                            layer.msg(_data.message, {icon: 1});
                            setTimeout(function () {
                                layer.closeAll();
                                searchLossOrderList();
                            }, 1000);
                        } else {
                            layer.msg(_data.message, {icon: 2});
                            setTimeout(function () {
                                layer.closeAll();
                                searchLossOrderList();
                            }, 1000);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        is = 1;
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log('请求异常，请检查！');
                    }
                });
            });
        } else {
            layer.msg('无法批量删除，只能选择一项', {icon: 2});
        }
    }


    /*损耗单-红冲*/
    function erpLoss_reverse(title) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            var id = $('.checkchild:checked').val();
            var url = '<{:U("ErpLoss/lossReverse")}>';
            var type = 'post';
            var dataType = 'json';
            layer.confirm('请确认是否红冲！', {
                btn: ['是', '取消']
            }, function () {
                layer.load(1, {shade: 0.3});
                $.ajax({
                    url: url,
                    data: {loss_id: id},
                    type: type,
                    dataType: dataType,
                    success: function (_data) {
                        if (_data.status == 1) {
                            layer.msg(_data.message, {icon: 1});
                            setTimeout(function () {
                                layer.closeAll();
                                searchLossOrderList();
                            }, 1000);
                        } else {
                            layer.msg(_data.message, {icon: 2});
                            setTimeout(function () {
                                layer.closeAll();
                                searchLossOrderList();
                            }, 1000);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        is = 1;
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log('请求异常，请检查！');
                    }
                });
            });
        } else {
            layer.msg('无法批量删除，只能选择一项', {icon: 2});
        }
    }
    searchLossOrderList = function (status) {
        var current_page = status || false;
        var param = $('#searchSupply').serialize();

        table.api().ajax.url("<{:U('ErpLoss/lossOrderList')}>?" + param);
        table.api().ajax.reload(function(){
            $('#subes').val('查询').attr('disabled', false);
            layer.closeAll('loading');
        }, current_page);
    }
    //查询
    function sub_select() {
        var company_name = $('#company_name').val();
        var source_type  = $('#source_type').val();
        if ( company_name != '' && source_type == 0 ) {
            layer.alert("请先选择损耗来源！");
            return false;
        }
        $('#subes').val('查询中...').attr('disabled', true);
        var index = layer.load(0, {shade: false});
        searchLossOrderList(true);
    }

    $('#dataTable tbody').on('click', 'tr', function () {
        var index = $(this).index();
        $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
        $('#dataTable tbody tr').eq(index).siblings().find('.checkchild').prop('checked', false);

    });
    /* 导出 */
    function export_excel(title) {
        layer.confirm('确认导出？', {
            btn: ['是', '取消']
        }, function () {
            var param = $('#searchSupply').serialize();
            var url = '<{:U("ErpLoss/exportLossOrderApply")}>?'+param;
            layer.load(1, {shade: 0.3});
            window.location.href = url;
            setTimeout(function(){
                layer.closeAll();
            }, 1000);
        });
    }
    //生成入库单
    function add_in_stock(title, url, w, h){
        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }

        var id = $(".checkchild:checked").val();
        var info_url = '<{:U("ErpStockInApply/checkAddStockIn")}>';
        ajax(info_url, {stock_in_apply_id: id}, 'post', 'json', function (_data) {
            if (_data.status == 1) {
                url = url + '/stock_in_apply_id/' + id;
                layer_show(title, url, w, h);
            } else {
                layer.msg(_data.message, {icon: 2});
                return false;
            }
        });
    }

    var selectGoods = $("#goods_id").select2({
        placeholder: '请选择商品',
        allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });

</script>
