<include file="./Application/Home/View/headers.html"/>
<link rel="stylesheet" href="__TPL__lib/select2/css/select2.min.css"/>
<style>
    .disabled {
        cursor: no-drop;
        background-color: rgb(235, 235, 228);
    }
    .input-text {
        width: 78%
    }
    .hidden{
        display: none;
    }
</style>
<script type="text/javascript" src="__TPL__lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="__TPL__lib/select2/js/i18n/zh-CN.js"></script>
<script type="text/javascript" src="__TPL__static/select.js"></script>
<article class="page-container" style=" overflow:hidden;" id="input_list">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div>
            <div class="row cl col-sm-12" style="margin-top: 0">
                <p>基本信息</p>
                <hr/>
                <br/>
                <label class="form-label col-xs-2 "><span class="c-red">*</span>调拨数量(吨):</label>

                <div class="formControls col-xs-9 col-sm-4">
                    <input class="input-text disabled" disabled value="<{$data.order.num}>" name="num">
                    <span id="sps1"></span>
                </div>

                <label class="form-label col-xs-2 ">提单号:</label>

                <div class="formControls col-xs-9 col-sm-4">
                    <input type="text" class="input-text" id="pick_up_number" name="pick_up_number" value=""/>
                </div>
            </div>
        </div>
        <!--<div>-->
            <!--<div class="row cl col-sm-12">-->
                <!--<label class="form-label col-xs-2 "><span class="c-red">*</span>调拨类型:</label>-->
                <!--<input type="radio" name="allocation_type" value="1" style="margin-left: 15px" checked="checked">城市仓->二级仓-->
                <!--<input type="radio" name="allocation_type" value="2" style="margin-left: 15px">二级仓->二级仓-->
                <!--<input type="radio" name="allocation_type" value="3" style="margin-left: 15px">二级仓->城市仓-->
                <!--<input type="radio" name="allocation_type" value="4" style="margin-left: 15px">城市仓->城市仓-->
            <!--</div>-->
        <!--</div>-->
        <div>
            <div class="row cl col-sm-12">
                <div>

                    <label class="form-label col-xs-2 "><span class="c-red">*</span>入库方名称:</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text disabled" disabled value="<{$data.order.in_object_name}>" name="in_object_name">
                        <span id="sps5"></span>
                    </div>

                </div>

                <div>
                    <label class="form-label col-xs-2 "><span class="c-red">*</span>入库类型:</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text disabled" disabled value="<{$data.order.in_type}>" name="in_type">
                        <span id="sps3"></span>
                    </div>
                </div>
            </div>

            <div  class="row cl col-sm-12">

                <div id="out_t" style="">
                    <label class="form-label col-xs-2" style="padding:0;"><span class="c-red">*</span>实际出库数量(吨):</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text " value="<{$data.order.actual_out_num}>" name="actual_out_num" id="actual_out_num" onkeyup="checknum(this)" disabled>
                        <span id="sps6"></span>
                    </div>
                </div>

                <div id="in_t" style="display: none;">
                    <label class="form-label col-xs-2" style="padding:0;"><span class="c-red">*</span>实际入库数量(吨):</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text" value="" name="actual_in_num" id="actual_in_num" onkeyup="checknum(this)" disabled>
                        <span id="sps7"></span>
                        <span style="margin-top: 10px;color: red;">（数量编辑通过批次列表修改）</span>
                    </div>
                </div>

            </div>

            <div  class="row cl col-sm-12">

                <div  id="in_l" style="display: none;">

                    <div class="formControls col-xs-9 col-sm-4" style="float: right;">
                        <input class="input-text" value="" name="actual_in_num_liter" id="actual_in_num_liter" onkeyup="checknum2(this)" onblur="checkinliter()" disabled>
                        <span id="sps9"></span>
                        <span style="margin-top: 10px;color: red;">（数量编辑通过批次列表修改）</span>
                    </div>
                    <label class="form-label col-xs-2" style="padding:0; float: right;"><span class="c-red">*</span>实际入库数量(升):</label>
                </div>
                <div  id="in_d" style="display: none;margin-right: 0px; padding-right: 0px;">

                    <div class="formControls col-xs-9 col-sm-4" style="float: right;">
                        <input class="input-text" value="<{$data['in_density']}>" name="in_density" id="in_density" onkeyup="checknum(this)" onblur="checkindensity(this)">
                    </div>

                    <label class="form-label col-xs-2" style="padding:0; float: right;">实际入库密度:</label>
                </div>
            </div>

            <div  class="row cl col-sm-12">

                <label class="form-label col-xs-2" style="padding:0;"><span class="c-red">*</span>是否损耗:</label>
                <div class="formControls col-xs-9 col-sm-4">
                    <select class="input-text" id="is_loss" name="is_loss" onchange="checkloss(this.value)">
                        <option value="1">是</option>
                        <option value="2" selected>否</option>
                    </select>
                </div>

                <div  id="loss_ratio_show" style="display: none;">
                    <label class="form-label col-xs-2" style="padding:0;"><span class="c-red">*</span>损耗比例:</label>
                    <div class="formControls col-xs-9 col-sm-4">
                        <select class="input-text" id="loss_ratio" name="loss_ratio" onchange="rationalLossBeliel()">
                            <volist name="data.loss_ratio" id="vo" key="k">
                                <option value="<{$key}>">
                                    <{$vo}>
                                </option>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>

            <div  class="row cl col-sm-12">

                <div  id="in_sl" style="display: none;">

                    <div class="formControls col-xs-9 col-sm-4" style="float: right;">
                        <input class="input-text" value="<{$data.shipping_order.actual_num_liter}>"  disabled />
                    </div>
                    <label class="form-label col-xs-2" style="padding:0; float: right;">二级仓实际入库数量(升):</label>
                </div>
                <div  id="in_sd" style="display: none;margin-right: 0px; padding-right: 0px;">

                    <div class="formControls col-xs-9 col-sm-4" style="float: right;">
                        <input class="input-text" value="<{$data['shipping_order']['actual_density']}>" disabled/>
                    </div>

                    <label class="form-label col-xs-2" style="padding:0; float: right;">二级仓实际入库密度:</label>
                </div>
            </div>

            <div  class="row cl col-sm-12">
                <div id="out_d" style="display: none;margin-left: 0px; padding-left: 0px;">

                    <label class="form-label col-xs-2" style="padding:0;">实际出库密度:</label>

                    <div class="formControls col-xs-9 col-sm-4">
                        <input class="input-text" value="<{$data['out_density']}>" name="out_density" id="out_density" onkeyup="checknum(this)" onblur="checkoutdensity(this)">
                    </div>

                </div>

            </div>
        </div>
        <div>
            <div class="row cl col-sm-12">
                <label class="form-label col-xs-2 ">入库单附件:</label>

                <div class="formControls col-xs-10 col-sm-10 wu-example">
                    <div class="yanzRight">
                        <span class="btn-upload form-group" style="width: 100%">
                            <input class="input-text upload-url radius" type="text" name="uploadfile-1" id="uploadfile-1" readonly style=" width: 70%;"> <a href="javascript:void();" class="btn btn-primary radius"><i class="iconfont">&#xf0020;</i> 浏览文件</a>
                            <input style="margin-top:5px;float: left;" name="attachment" id="attachment" onchange="previewImage(this,1)" type="file" multiple name="file-1" class="input-file"/>
                        </span>
                        <span class="dui" style="display: none;"></span>
                    </div>
                    <div id="preview1" style="clear:both; padding-top:15px;">
                        <img src="" alt="" id="imghead1" height="200" width="200" style="display:none;"/>
                    </div>
                </div>

            </div>
        </div>
        <div class="row cl col-sm-12">
            <input type="hidden" id="storehouse_id" value="<{$data.order.out_storehouse}>">
            <input type="hidden" id="goods_id" value="<{$data.order.goods_id}>">
            <input type="hidden" id="region" value="<{$data.order.out_region}>">
            <input type="hidden" id="stock_type" value="<{$data.order.out_stock_type}>">
            <input type="hidden" id="our_company_id" value="<{$data.order.our_company_id}>">
            <input type="hidden" id="source_number" value="<{$data.order.order_number}>">
            <if condition="$data['order']['in_stock_type'] eq 4">
                <include file="./Application/Home/View/Common/batch_use_litre_allocation.html"/>
                <else />
                <include file="./Application/Home/View/Common/batch_use_allocation.html"/>
            </if>
        </div>
        <div>
            <div class="row cl col-sm-12">
                <label class="form-label col-xs-2 ">备注:</label>

                <div class="formControls col-xs-9 col-sm-9" style="padding-right: 0;">
                    <textarea class="textarea" cols="" rows="" id="storage_remark" name="storage_remark" placeholder="请输入确认入库备注"></textarea>
                </div>
            </div>
        </div>
        <div class="row cl col-sm-12" style="margin-top:10px;">
            <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-6">
                <input type="hidden" id="id" name="id" value="<{$data.order.id}>"/>
                <input type="hidden" id="allocation_type" name="allocation_type" value="<{$data.order.allocation_type}>"/>
                <input type="hidden" id="is_shipping"     name="is_shipping" value="<{$data.is_shipping}>"/>
                <!--区分是否为加油站业务-->
                <input type="hidden" id="business_type" name="business_type" value="<{$data.order.business_type}>"/>
                <input class="btn btn-primary radius" id="add" type="button" value="提交">
            </div>
        </div>
    </form>
</article>

<script type="text/javascript">
    //图片预览功能
    function previewImage(file,imgNum)
    {
        var MAXWIDTH  = 200;
        var MAXHEIGHT = 200;
        var div = document.getElementById('preview'+imgNum);
        if (file.files && file.files[0])
        {
            div.innerHTML ='';
            var length=0;
            //imgContent为图片展示的区域
            var reader=new FileReader();
            reader.readAsDataURL(file.files[length]);
            //异步读取图片，读取完会触onload
            reader.onload=function() {
                div.innerHTML += "<img src='" + this.result + "' id='imghead"+imgNum+'_'+length+"'/>";
                var img = document.getElementById('imghead'+imgNum+'_'+length);
                img.onload = function(){
                    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                    img.width  =  rect.width;
                    img.height =  rect.height;
                }
                //多张预览，上传多张时开启
//                length++;
//                if (length < file.files.length) {
//                    reader.readAsDataURL(file.files[length]);
//                }
            }
        }
        else //
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead'+imgNum+'>';
            var img = document.getElementById('imghead2');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead"+imgNum+" style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
        }
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        if( width>maxWidth || height>maxHeight )
        {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if( rateWidth > rateHeight )
            {
                param.width =  maxWidth;
                param.height = Math.round(height / rateWidth);
            }else
            {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }
        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }

    // @表单验证 <senpai | 2017.3.10>

    var is_gas = $("#is_gas").val();
    if(is_gas == 1 ){
        $("#in_density").attr('disabled', true).addClass('disabled');
    }
    var allocation_type = $('#allocation_type').val();
    var is_shipping     = $('#is_shipping').val();
    //var out_t = $('#out_t');
    //var out_l = $('#out_l');
    var in_t = $('#in_t');
    var in_l = $('#in_l');
    var in_sl = $('#in_sl');
    var in_sd = $('#in_sd');
    ////var out_d = $('#out_d');
    var in_d = $('#in_d');
    if(is_shipping == 1 ){
        in_sl.show();
        in_sd.show();
    }else{
        in_sl.hide();
        in_sd.hide();
    }
    if(allocation_type == 1 ){
       // out_t.show();
        in_t.show();
        $("#actual_in_num").prop('disabled',true).addClass('disabled');
        //out_l.hide();
        in_l.show();
        //out_d.hide();
//        in_d.show();
        getConfigDensityByAllocationType();
    }else if(allocation_type == 2){
        //out_t.show();
        in_t.show();
        //$("#actual_out_num").prop('disabled',true).addClass('disabled');
        $("#actual_in_num").prop('disabled',true).addClass('disabled');
        //out_l.show();
        in_l.show();
        //out_d.show();
//        in_d.show();
    }else if(allocation_type == 3){
        //out_t.show();
        in_t.show();
        //$("#actual_out_num").prop('disabled',true).addClass('disabled');
        //out_l.show();
        in_l.hide();
        //out_d.show();
//        in_d.hide();
        getConfigDensityByAllocationType();
    }else if(allocation_type == 4){
        //out_t.show();
        in_t.show();
        //out_l.hide();
        in_l.hide();
        //out_d.hide();
//        in_d.hide();
    }

    function checkloss(is_loss) {
        if (is_loss == 1) {
            changeloss();
            $("#loss_ratio_show").show();
        } else {
            changeloss();
            $("#loss_ratio_show").hide();
            $("#loss_ratio").val(0);
        }
    }

    // 损耗比列变更
    function rationalLossBeliel(){
        table.api().ajax.reload();
    }

    //验证信息正确
    function checktrue($place) {
        $('#' + $place).html("<i class='Hui-iconfont'>&#xe676;</i>");
        $('#' + $place).removeClass();
        $('#' + $place).addClass("c-green");
    }

    //验证信息错误
    function checkfalse($place) {
        $('#' + $place).html("<i class='Hui-iconfont'>&#xe706;</i>");
        $('#' + $place).removeClass();
        $('#' + $place).addClass("c-red");
    }

    //验证是否是数字（保留四位小数）
    function checknum(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{4,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d{4}).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value= parseFloat(obj.value);
        }
        if(obj.value.indexOf(".") == 0){
            obj.value = '';
        }
    }

    //验证是否是数字（保留8位小数）
    function checknum8(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{8,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d{8}).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value= parseFloat(obj.value);
        }
        if(obj.value.indexOf(".") == 0){
            obj.value = '';
        }
    }
    //验证是否是数字（保留三位小数）
    function checknum2(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d{2}).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value= parseFloat(obj.value);
        }
        if(obj.value.indexOf(".") == 0){
            obj.value = '';
        }
    }

    //根据升数计算吨数
    function checkoutliter() {
        if ($("#actual_out_num_liter").val() && $("#out_density").val()) {
            $("#actual_out_num").val(($("#out_density").val() * $("#actual_out_num_liter").val() /1000).toFixed(8));
        }
    }

    //根据升数计算吨数
    function checkinliter() {
        if ($("#actual_in_num_liter").val() && $("#in_density").val()) {
            $("#actual_in_num").val(($("#in_density").val() * $("#actual_in_num_liter").val() / 1000).toFixed(8));
        }
    }

    //验证油品密度
    function checkoutdensity(density) {
        if ($.trim($(density).val()) < 0.7 || $.trim($(density).val()) > 1) {
            layer.msg("油品密度超出规格！", {icon: 2});
            checkfalse('sps6');
            submitFalse();
            return false;
        } else {
            if ($("#actual_out_num_liter").val()) {
                $("#actual_out_num").val(($(density).val() * $("#actual_out_num_liter").val() /1000).toFixed(8));
            }
            return true;
        }
    }

    //验证油品密度
    function checkindensity(density) {
        if ($.trim($(density).val()) < 0.7 || $.trim($(density).val()) > 1) {
            layer.msg("油品密度超出规格！", {icon: 2});
            checkfalse('sps6');
            submitFalse();
            return false;
        } else {
            if ($("#actual_in_num_liter").val()) {
                $("#actual_in_num").val(($(density).val() * $("#actual_in_num_liter").val() / 1000).toFixed(8));
            }
            return true;
        }
    }

    // @确认调拨单
    $(function () {
        //添加erp商品操作
        $('#add').click(function () {
            submitTrue();
            if ($('#form-member-add').valid() == false) {
                return false;
            }

            //获取使用到的批次的升数
            var inputs = $('input[name="litre_num"]');//找到div里面所有的input
            var litre = new Object();
            inputs.each(function(){
                if (this.value != 0 && this.value != '' && this.value != null) {
                    litre[this.id] = this.value;
                }
            });
            //获取使用到的批次的密度
            var inputs = $('input[name="density"]');//找到div里面所有的input
            var density = new Object();
            inputs.each(function(){
                if (this.value != 0 && this.value != '' && this.value != null) {
                    density[this.id] = this.value;
                }
            });
            //获取使用到的批次的吨数
            var inputs = $('input[name="use_batch_num"]');//找到div里面所有的input
            var ton = new Object();
            inputs.each(function(){
                if (this.value != 0 && this.value != '' && this.value != null) {
                    ton[this.id] = this.value;
                }
            });
            //获取使用到的损耗数量
            loss_number = 0;
            var inputs = $('input[name="loss_num"]');//找到div里面所有的input
            var loss = new Object();
            inputs.each(function(){
                if (this.value != 0 && this.value != '' && this.value != null) {
                    loss[this.id] = this.value;
                }
                loss_number += + this.value;
            });
            // 获取所有的合理损耗数量
            var reasonable_loss =  new Object();
            $('input[name="reasonable_loss_num"]').each(function(){
                reasonable_loss[this.id] = this.value;
            })

            // 获取所有的超损数量
            var supper_loss =  new Object();
            $('input[name="exceed_loss_num"]').each(function(){
                supper_loss[this.id] = this.value;
            })
            var batch = {
                'litre' : litre,
                'density' : density,
                'ton' : ton,
                'loss' : loss,
                'reasonable_loss' : reasonable_loss,
                'supper_loss' : supper_loss,
            };

            var da = {
                'id': $("#id").val(),
                'pick_up_number': $("#pick_up_number").val(),
                'actual_out_num': $.trim($("#actual_out_num").val()),
                'actual_in_num': $.trim($("#actual_in_num").val()),
                'actual_in_num_liter': $.trim($("#actual_in_num_liter").val()),
                'allocation_type': $("#allocation_type").val(),
                'in_density': $("#in_density").val(),
                'storage_remark': $("#storage_remark").val(),
                'loss_ratio': $("#loss_ratio").val(),
                'batch':JSON.stringify(batch),
            };


            var formData = new FormData();
            formData.append("attachment",$("#attachment")[0].files[0]);
            formData.append("id",da.id);
            formData.append("pick_up_number",da.pick_up_number);
            formData.append("actual_out_num",da.actual_out_num);
            formData.append("actual_in_num",da.actual_in_num);
            formData.append("actual_in_num_liter",da.actual_in_num_liter);
            formData.append("allocation_type",da.allocation_type);
            formData.append("in_density",da.in_density);
            formData.append("storage_remark",da.storage_remark);
            formData.append("loss_ratio",da.loss_ratio);
            formData.append("batch",da.batch);

            if ( $("#is_loss").val() == 1 && Number(loss_number) == 0 ) {
                layer.msg('有损耗时，损耗数量不能为空！', {icon: 2});
                submitFalse();
                return false;
            }

            if(da.allocation_type == 1){

                if(da.actual_in_num_liter == '' || isNaN(da.actual_in_num_liter)){
                    layer.msg('请输入实际入库升数', {icon: 2});
                    submitFalse();
                    return false;
                }
            }else if(da.allocation_type == 2){

                if(da.actual_in_num_liter == '' || isNaN(da.actual_in_num_liter)){
                    layer.msg('请输入实际入库升数', {icon: 2});
                    submitFalse();
                    return false;
                }
            }else if(da.allocation_type == 3){

                if(da.actual_in_num == '' || isNaN(da.actual_in_num)){
                    layer.msg('请输入实际入库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
            }else if(da.allocation_type == 4){

                if(da.actual_in_num == '' || isNaN(da.actual_in_num)){
                    layer.msg('请输入实际入库数量', {icon: 2});
                    submitFalse();
                    return false;
                }
            }

            if(da.in_density == '' || da.in_density <= 0){
                layer.msg('请检查商品密度！', {icon: 2});
                submitFalse();
                return false;
            }

            // 验证合理损耗+超损是否等于损耗数量
            if ( !verifLossNum() ){
                submitFalse();
                return false;
            }
            
            var reasonable_loss_num = 0;
            $('input[name="reasonable_loss_num"]').each(function() {
                reasonable_loss_num += + this.value;
            });
            if ( parseFloat(da.actual_in_num) > parseFloat(da.actual_out_num) || Number(reasonable_loss_num) > Number($('#now_rational_loss').val()) ) {
                var alertstring = '';
                if ( parseFloat(da.actual_in_num) > parseFloat(da.actual_out_num) && Number(reasonable_loss_num) > Number($('#now_rational_loss').val()) ) {
                    alertstring = '实际出库吨数：' + da.actual_out_num + '吨。</br>实际入库吨数：' + da.actual_in_num + '吨。</br>当前入库吨数大于出库吨数<br/>合理损耗将大于原单理论损耗，是否确认!';
                } else if ( parseFloat(da.actual_in_num) > parseFloat(da.actual_out_num) ) {
                    alertstring = '实际出库吨数：' + da.actual_out_num + '吨。</br>实际入库吨数：' + da.actual_in_num + '吨。</br>当前入库吨数大于出库吨数';
                } else if( Number(reasonable_loss_num) > Number($('#now_rational_loss').val()) ) {
                    alertstring = '合理损耗将大于原单理论损耗，是否确认!';
                }
                layer.confirm( alertstring , {
                    btn: ['提交', '取消']
                }, function () {
                    layer.load(1, {shade: 0.3});

                    $.ajax({
                        url : '<{:U("ErpNewAllocation/confirmInStock")}>',
                        type: 'POST',
                        data: formData,
                        async: true,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success : function(_data) {
                            if (_data.status == 1) {
                                layer.msg(_data.message, {icon: 1});
                                top.searthesErpAllocationOrderList();
                                setTimeout(function () {
                                    layer.closeAll();
                                    var index = parent.layer.getFrameIndex(window.name);
                                    parent.layer.close(index);
                                    submitFalse();
                                }, 1000);
                            } else {
                                layer.closeAll();
                                layer.msg(_data.message, {icon: 2});
                                submitFalse();
                            }
                        },
                        error:function(XMLHttpRequest, textStatus, errorThrown){
                            console.log(XMLHttpRequest);
                            console.log('请求异常，请检查！');
                        }
                    });
                }, function () {
                    submitFalse();
                });
            } else {                
                $.ajax({
                    url : '<{:U("ErpNewAllocation/confirmInStock")}>',
                    type: 'POST',
                    data: formData,
                    async: true,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success : function(_data) {
                        if (_data.status == 1) {
                            layer.msg(_data.message, {icon: 1});
                            top.searthesErpAllocationOrderList();
                            setTimeout(function () {
                                layer.closeAll();
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                submitFalse();
                            }, 1000);
                        } else {
                            layer.closeAll();
                            layer.msg(_data.message, {icon: 2});
                            submitFalse();
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        console.log(XMLHttpRequest);
                        console.log('请求异常，请检查！');
                    }
                });
            }


        });
    });
    // 城市仓 -> 二级仓
    function getConfigDensityByAllocationType(){
        if($("#business_type").val() == 1 ){
            getConfigDensity();
            $("#in_density").attr("disabled",true);
        }
    }

    // 获取系统配置密度
    function getConfigDensity(){
        var url = '<{:U("ErpPurchase/getConfig")}>';
        var type = 'post';
        var dataType = 'json';
        var data = '';
        ajax(url, data, type, dataType, function (_data) {
            if (_data.status == 1) {
                $("#in_density").val(_data.config_density);
            } else {
                layer.closeAll();
                layer.msg(_data.message, {icon: 2});
                $("#in_density").val("");
                submitFalse();
                return false;
            }
        });
    }

    // @添加下单按钮禁用属性
    function submitTrue() {
        $('#add').attr("disabled", true);
    }

    // @移除下单按钮禁用属性
    function submitFalse() {
        $('#add').attr("disabled", false);
    }
</script>
