<include file="./Application/Home/View/headers.html"/>
<style>
    .disabled {
        cursor: no-drop;
        background-color: #9D9D9D;
    }

    .input-text {
        width: 78%
    }
</style>
<div class="page-container">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar clearfix">
                <span>收款信息</span>
            </div>
            <div class="tabCon">
                <form action="" method="post" class="form form-horizontal" id="form-invoice-add" style="display: none;">
                    <div style="overflow: hidden">
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4">业务单号：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text disabled" id="sale_order_number" name="sale_order_number" value="" disabled/>
                                </div>
                            </div>

                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4">付款方式：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" name="pay_type" id="pay_type" value=""  class="input-text disabled" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4">交易员：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" name="dealer_name" id="dealer_name" class="input-text disabled" disabled>
                                </div>
                            </div>

                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4">公司名称：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text disabled" id="company_name" name="company_name" value="" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4">银行名称：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text disabled" id="user_bank_name" name="user_bank_name" value="" disabled/>
                                </div>
                            </div>
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4">银行账号：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text disabled" id="user_bank_num" name="user_bank_num" value="" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4">订单总额：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text disabled" id="order_amount" name="order_amount" value="" disabled/>
                                </div>
                            </div>
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4">待<{$data.apply_button}>金额：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text disabled" id="no_collect_amount" name="no_collect_amount" value="" disabled/>
                                </div>
                            </div>
                        </div>
                        <!--<div id="show_account_balance" style="display: none;">-->
                        <div id="show_account_balance">
                            <div class="row cl">
                                <div class="row cl col-sm-6">
                                    <label class="form-label col-xs-4 col-sm-4">预收余额：</label>

                                    <div class="formControls col-xs-8 col-sm-8">
                                        <input type="text" class="input-text disabled" id="account_balance" name="account_balance" value="" disabled/>
                                    </div>
                                </div>

                                <div class="row cl col-sm-6">
                                    <label class="form-label col-xs-4 col-sm-4">抵扣剩余：</label>

                                    <div class="formControls col-xs-8 col-sm-8">
                                        <input type="text" class="input-text disabled" id="balance" name="balance" value="" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span><{$data.apply_button}>款金额：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text" id="collect_money" name="collect_money" value="" maxlength="11" onkeyup="checknum(this);checkcollectmoney()"/>&nbsp;<a href="javascript:;" id="collect_all" onclick="collect_all()" class="btn btn-primary radius" style="padding:2px 5px;font-size:12px; height:26px;">整额收款</a>
                                    <span id="sps1"></span>
                                </div>
                            </div>

                            <div class="row cl col-sm-6" id="show_balance">
                                <label class="form-label col-xs-4 col-sm-4">抵扣余额：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text" id="balance_deduction" name="balance_deduction" value="0" maxlength="11" onkeyup="checknum(this);checkbalancededuction(1)"/>
                                    <span id="sps2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row cl" id="hide" style="display: none">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>是否转预收：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <label>
                                        <input type="radio"  name="is_prestore_money" value="1" placeholder=""/>&nbsp; 是 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </label>
                                    <label>
                                        <input type="radio"  name="is_prestore_money" value="2" checked placeholder=""/> &nbsp; 否
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="bank_hide">
                            <div class="row cl">
                                <div class="row cl col-sm-6">
                                    <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>银行简称：</label>

                                    <div class="formControls col-xs-8 col-sm-8">
                                        <select name="bank_simple_name" class="input-text" style="width:78%" id="bank_simple_name" onchange="update_bank_info()">
                                            <optgroup label="银行简称">
                                                <option value="0">请选择简称</option>
                                                <volist name="data.bank" id="vo" key="k">
                                                    <option value="<{$key}>" bank_name="<{$vo.bank_simple_name}>" <if condition="$vo['is_first'] eq 1">selected</if>>
                                                    <{$vo.bank_simple_name}>
                                                    </option>
                                                </volist>
                                            </optgroup>
                                        </select>
                                        <span id="sps3"></span>
                                    </div>

                                </div>

                                <div class="row cl col-sm-6">
                                    <label class="form-label col-xs-4 col-sm-4"></label>

                                    <div class="formControls col-xs-8 col-sm-8">
                                    </div>
                                </div>
                            </div>
                            <div class="row cl">
                                <div class="row cl col-sm-6">
                                    <label class="form-label col-xs-4 col-sm-4">银行名称：</label>

                                    <div class="formControls col-xs-8 col-sm-8">
                                        <input type="text" class="input-text disabled " disabled name="bank_name" id="bank_name" >
                                    </div>
                                </div>

                                <div class="row cl col-sm-6">
                                    <label class="form-label col-xs-4 col-sm-4">银行账号：</label>

                                    <div class="formControls col-xs-8 col-sm-8">
                                        <input type="text" class="input-text disabled" disabled name="bank_num" id="bank_num" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-12">
                                <label class="form-label col-xs-2 col-sm-2">财务收款备注：</label>
                                <textarea name="remark" id="remark" cols="100" rows="6"
                                          style="margin-left: 5px;" maxlength="255"></textarea>
                            </div>
                        </div>
                        <div class="row cl" style="margin-top:20px;">
                            <div class="col-xs-8 col-sm-6 col-xs-offset-6 col-sm-offset-6">
                                <input type="hidden" id="id" name="id" value="">
                                <input type="hidden" id="collected_amount" name="collected_amount" value="">
                                <input type="hidden" id="sale_order_id" name="sale_order_id" value="<{$sale_order_id}>">
                                <input type="hidden" id="source_order_number" name="source_order_number" value="<{$Think.get.sale_order_number}>">
                                <input type="hidden" id="source_order_type" name="source_order_type" value="<{$Think.get.order_type}>">
                                <input class="btn btn-primary radius" id="DealerSaveBtn" type="button" value="提交">
                                <input class="btn btn-primary radius" id="goback" type="button" value="返回">
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <br/>

                    <p>收款信息录入明细</p>
                    <hr/>
                    <div class="row cl" style="margin-top:20px;">
                        <div style="margin-left: 15px;">
                            <span><a href="javascript:;" class="btn btn-primary radius" id="collection_show" type="button">申请<{$data.apply_button}>款</a></span>
                            <span><a href="javascript:;" class="btn btn-primary radius check_access" value="ErpFinance-reverseSaleCollection" id="reverse_sale_collection" type="button">红冲收款</a></span>
                            <span><a href="javascript:;" class="btn btn-primary radius check_access" value="ErpFinance-reverseReturnedCollection" id="reverse_returned_collection" onclick="reverse_returned_collection()">红冲退款</a></span>
                            <!--<input class="btn btn-primary radius" id="collection_show" type="button" value="申请收款">-->
                            <!--<input class="btn btn-primary radius" id="returned_collection_show" type="button" value="收取退款">-->
                            <!--<input class="btn btn-primary radius check_access" value="ErpFinance-reverseSaleCollection" id="reverse_sale_collection" type="button" value="红冲收款">-->
                            <!--<input class="btn btn-primary radius check_access" value="ErpFinance-reverseReturnedCollection" id="reverse_returned_collection" type="button" value="红冲退款" onclick="reverse_returned_collection()">-->
                        </div>
                    </div>
                    <div class="row cl mt-10" style="overflow-x:scroll;white-space:nowrap;">
                        <table class="table table-border table-bordered table-hover table-bg table-sort" id="dataTable">
                            <thead>
                            <tr class="text-c">
                                <th></th>
                                <th>ID</th>
                                <th>销售单号</th>
                                <th>订单日期</th>
                                <th>付款方式</th>
                                <th>交易员</th>
                                <th>银行简称</th>
                                <th>客户</th>
                                <th>开户银行</th>
                                <th>开户账号</th>
                                <th>订单总额</th>
                                <th>收款金额</th>
                                <th>余额抵扣</th>
                                <th>实收金额</th>
                                <th>待收/退金额</th>
                                <th>收款状态</th>
                                <th>操作员（财务）</th>
                                <th>收款时间</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-8 col-xs-offset-4 col-sm-offset-2">
                <!--<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>-->
                <!--<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>-->
            </div>
        </div>
</div>

<link rel="stylesheet" href="__TPL__lib/select2/css/select2.min.css"/>
<script type="text/javascript" src="__TPL__lib/select2/js/select2.min.js"></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    // ----------------------------银行信息账号改版----------------------//
    var bank_info = <{$data.bank_json}>;
    $(function(){
        // 销退单 需要显示 是否转预存
        if($.trim($("#source_order_type").val()) == 1){
            $("#hide").css('display','block');
            $("#balance_deduction").val(0) ;
            $("#balance_deduction").attr("disabled",true);
            $("#collect_money").attr("disabled",true);
            $("#collect_all").css('display','none');
        }
        // 页面加载判断是否显示
        if($.trim($("input[name='is_prestore_money']:checked").val()) ==  1){
            $("#bank_hide").css('display','none');
        }else{
            $("#bank_hide").css('display','block');
        }
        // 预付款余额
        if(parseFloat($("#account_balance").val()) <= 0 ) {
            $("#balance_deduction").val(0) ;
            $("#balance_deduction").attr("disabled",true)
        }

        // 判断是否存在首选 ，如果是首选，则需要补充银行账号和银行名称
        var bank_id = $.trim($("#bank_simple_name").val());
        if(bank_id > 0 ){
            $("#bank_name").val(bank_info[bank_id]['bank_name']);
            $("#bank_num").val(bank_info[bank_id]['bank_num']);
        }else{
            $("#bank_name").val('');
            $("#bank_num").val('');
        }

        // 如果为销退，并且是转预存情况，则无需展示银行信息。
        // 这里不需要把选项置空，Event 有判断
        $("input[name='is_prestore_money']").click(function () {
            if($.trim($("input[name='is_prestore_money']:checked").val()) ==  1 ){
                $("#bank_hide").css('display','none');
            }else{
                $("#bank_hide").css('display','block');
            }

        });
    })
    // ------------------------end -------------------------------------//


    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $.Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "0");
        $('input,select,textarea', $('#information')).attr('disabled', true);
    });

    //申请收款列表
    var da = {
        'sale_order_id': $("#sale_order_id").val(),
        'order_type' : $('#source_order_type').val(),
        'sale_order_number' : $('#source_order_number').val()
    };

    /** 控制权限  **/
    var access_node = <{$access_node}>;
    var check_access = [];

    getCheckAccess();
    /** end 控制权限  **/

//    if($('#source_order_type').val() == 0){
//        $('#collection_show').show();
////        $('#reverse_sale_collection').show();
////        $('#reverse_returned_collection').hide();
//    }else{
//        $('#collection_show').hide();
////        $('#reverse_sale_collection').hide();
////        $('#reverse_returned_collection').show();
//    }

    function getCheckAccess(){
        $('.check_access').each(function(){
            //console.log($.trim($(this).attr('value')));
            //console.log($.inArray($.trim($(this).attr('value')),access_node));
            if($.inArray($.trim($(this).attr('value')) , access_node) != -1 && !$.isEmptyObject(access_node)){
                $(this).show();
            }else{
                $(this).hide();
            }
        });

        if($('#source_order_type').val() == 0){
            $('#reverse_returned_collection').hide();
            $('#collection_show').show();

        }else{
            $('#reverse_sale_collection').hide();
            //$('#collection_show').hide();

        }

    };

    var table = $('.table-sort').dataTable({
        "paging": true,
        "serverSide": true,
        "iDisplayLength": 10,
        "displayStart": 0,
        ajax: {
            //url: "<{:U('Galaxy/orderList')}>",
            url: "<{:U('ErpFinance/erpSaleCollectionDetail')}>",
            type: 'post',
            data: da
        },
        "aaSorting": [[2, "desc"]],//默认第几个排序
        "bStateSave": false, //状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            //{"orderable":false,"aTargets":[0,1]}// 制定列不参与排序
        ],
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        "deferRender": true, //延迟渲染
        "searching": false,
        "bPaginate": true,
        "bLengthChange": true,
        "columns": [
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {

                    return '<input name="check_box_list" type="checkbox"  class="checkchild"  value="' + data.id + '" order_number="' + data.order_number + '"/>';
                }
            },
            {"data": "id"},
            //{"data": "order_number"},
            {"data": "sale_order_number"},
            {"data": "create_time"},
            {"data": "pay_type"},
            {"data": "dealer_name"},
//            {
//                "sClass": "text-c",
//                "data": null,
//                "render": function (data, type, full, meta) {
//                    var url = '<{:U(\'ErpBank/getErpBankInfo\')}>';
//                    //var onclick = "update_order('编辑', '<{:U(\'ErpPurchase/updatePurchaseOrder\')}>', '900','550' ,'" + data.purchase_id + "')";
//
//                    var onclick = "erp_bank_detail('银行账号详情', '"+url+"', '600','550' ,'" + data.id + "')";
//                    return '<a onclick="' + onclick + '" class="c-primary">' + data.bank_simple_name + '</a>';
//                }
//            },
            {"data": "bank_simple_name"},
            {"data": "company_name"},
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    if(data.user_bank_info){
                        var message = data.user_bank_info.substr(0, data.user_bank_info.indexOf("--"));
                    }else{
                        var message = '无';
                    }
                    return '<span>' + message + '</span>';
                }
            },
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    if(data.user_bank_info){
                        var message = data.user_bank_info.substr(data.user_bank_info.indexOf("--") + 2);
                    }else{
                        var message = '无';
                    }
                    return '<span>' + message + '</span>';
                }
            },
            {"data": "order_amount"},
            {"data": "total_collect_money"},
            {"data": "balance_deduction"},
            {"data": "collect_money"},
            {"data": "order_nocollect_money"},
            {"data": "collection_status"},
            {"data": "creator"},
            {"data": "collect_time"},
            {"data": "remark"},
        ],
    });

    //申请收款按钮
    $("#collection_show").click(function () {

        // 判断账套公司银行账号是否配置
        if($("select[name=bank_simple_name] option").size() <= 1 ){
            if($.trim($("#source_order_type").val()) == 1){
                layer.msg("该账套下银行账号信息未配置，只能转预收！", {icon: 2});
            }else{
                layer.msg("该账套下银行账号信息未配置，只能使用余额抵扣！", {icon: 2});
            }
        };

        if ($("#form-invoice-add").is(":hidden")) {
            var id = $('#sale_order_id').val();
            var da = {
                'id': id
            };
            // 申请收款和申请付款是同一界面
            // source_order_type = 0 为销售单 1 为销退单
            var order_type = $("#source_order_type").val();
            if(order_type == 1){
                var url = '<{:U("ErpReturned/getReturnedSaleOrderInfo")}>';
            }else{
                var url = '<{:U("ErpSale/getSaleOrderInfo")}>';
            }
            var type = 'post';
            var dataType = 'json';
            var data = da;
            //var data = $('#form-order-add').serialize();
            ajax(url, data, type, dataType, function (_data) {
                //是否显示预存抵扣
                if (_data.account_balance > 0) {
                    //$("#show_balance").show();
                    //$("#show_account_balance").show();
                    $("#account_balance").val(_data.account_balance);
                } else {
                    //$("#show_balance").hide();
                    //$("#show_account_balance").hide();
                    $("#account_balance").val(0);
                    $("#balance_deduction").val(0);
                    $("#balance").val(0);
                    $("#balance_deduction").attr("disabled",true)

                }
                if ( _data.business_type == 4 ) {
                    $("#account_balance").val(0);
                    $("#balance_deduction").val(0);
                    $("#balance").val(0);
                    $("#balance_deduction").attr("disabled",true)
                }
                if(_data.return_amount_status == 10) {
                    layer.msg('该笔退货单已退款完成，请勿重复操作！', {icon: 2});
                    return false;
                }
                if(_data.collection_status == 10){
                    layer.msg('该笔销售单已收款完成，请勿重复操作！', {icon: 2});
                    return false;
                }
                $("#form-invoice-add").slideDown();
                $("#sale_order_number").val(_data.order_number);
                $("#dealer_name").val(_data.dealer_name);
                //$("#order_type").find("option").attr("selected",false);
                //$("#order_type").find("option[value='"+_data.order_type+"']").attr("selected",true);
                $("#user_id").val(_data.user_name);
                $("#collected_amount").val(_data.collected_amount);
                $("#user_bank_name").val(_data.user_bank_info.substr(0, _data.user_bank_info.indexOf("--")));
                $("#user_bank_num").val(_data.user_bank_info.substr(_data.user_bank_info.indexOf("--")+2));
                $("#order_amount").val(_data.order_amount);
                $("#no_collect_amount").val(_data.no_collect_amount);
                $("#collect_money").val('');
                $("#company_name").val(_data.company_name);
                $("#pay_type").val(_data.pay_type_name);
                $("span[id*='sps']").html('');
                // 如果为销售退货单，则默认填充退款金额
                if(order_type == 1){
                    $("#balance").val(_data.account_balance);
                    $("#collect_money").val(_data.no_collect_amount);
                }
            });
        }
    })

    //红冲收款按钮
    $("#reverse_sale_collection").click(function () {
        if ($(".checkchild:checked").length > 1) {
            layer.alert("一次只能选择一条数据");
            return;
        } else if ($(".checkchild:checked").length < 1) {
            layer.alert("请选择一条数据");
            return;
        }
        layer.confirm('确定要生成红冲收款吗？', function () {
            layer.load(1, {shade: 0.3});
            var id = $(".checkchild:checked").val();
            var da = {
                'id': id
            };
            var url = '<{:U("ErpReverse/saleCollectionReverse")}>';
            var type = 'post';
            var dataType = 'json';
            var data = da;
            ajax(url, data, type, dataType, function (_data) {
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                    top.searchErpSaleCollectionDetail();
                } else {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                }
            });
        })
    })

    $("#goback").click(function () {
        doSlideUp();
    })

    function doSlideUp() {
        $("#form-invoice-add").slideUp();
        $("#account_balance").val('');
        $("#balance").val('');
        $("#balance_deduction").val(0);
        $("#sale_order_number").val('');
        $("#dealer_name").val('');
        //$("#order_type").find("option").attr("selected",false);
        $("#user_id").val('');
        $("#collected_amount").val('');
        $("#user_bank_name").val('');
        $("#user_bank_num").val('');
        $("#order_amount").val('');
        $("#no_collect_amount").val('');
        $("#collect_money").val('');
        $("span[id*='sps']").html('');
    }

//    //验证是否是数字（保留两位小数可以为负数）
//    function checknum(obj){
//        obj.value = obj.value.replace(/[^\-\d.]/g,"");  //清除“数字”和“.”以外的字符
//        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
//        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
//        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');//只能输入两个小数
//    }
    //验证是否是数字（保留两位小数）
        function checknum(obj){
            obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
            obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
            obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');//只能输入两个小数
            if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
                obj.value= parseFloat(obj.value);
            }
            if(obj.value.indexOf(".") == 0){
                obj.value = '';
            }
        }

    //验证收款金额
    function checkcollectmoney() {
        // 如果收款金额为0（销售单），则需要隐藏银行简称选项
        // 如果转预收（销退单），则需要隐藏银行简称选项
        // 其他条件可以展示
        if(parseFloat($.trim($("#collect_money").val())) != 0){
            $("#bank_hide").css('display', 'block');
        }else if($.trim($("input[name='is_prestore_money']:checked").val()) == 1){
            $("#bank_hide").css('display','none');
            $("#bank_simple_name").select2("val", 0);
        }else{
            $("#bank_hide").css('display','none');
            $("#bank_simple_name").select2("val", 0);
        }
        var balance_deduction = isNaN(parseFloat($.trim($("#balance_deduction").val()))) ? 0 : parseFloat($.trim($("#balance_deduction").val()));

        if ($.trim($("#collect_money").val()) == '') {
            layer.msg("请输入收款金额！", {icon: 2});
            checkfalse('sps1');
            submitFalse();
            return false;
        } else if (parseFloat($.trim($("#collect_money").val())) >= 0 && Math.round((parseFloat($.trim($("#collect_money").val())) + parseFloat(balance_deduction))*100)/100 > parseFloat($.trim($("#no_collect_amount").val()))) {
            layer.msg("收款金额不能大于订单未收金额！", {icon: 2});
            checkfalse('sps1');
            submitFalse();
            return false;
        } else if (parseFloat($.trim($("#collect_money").val())) < 0 && balance_deduction > 0) {
            layer.msg("退款操作不允许余额抵扣！", {icon: 2});
            checkfalse('sps1');
            submitFalse();
            return false;
        } else if (parseFloat($.trim($("#collect_money").val())) < 0 && parseFloat($.trim($("#collect_money").val())) < parseFloat($.trim($("#no_collect_amount").val()))) {
            layer.msg("收款金额不能大于订单未收金额！", {icon: 2});
            checkfalse('sps1');
            submitFalse();
            return false;
        } else {
            checktrue('sps1');
            return true;
        }
    }

    //验证余额抵扣
    function checkbalancededuction(type) {

        // 待收金额
        var no_collect_amount = $("#no_collect_amount").val();
        // 余额抵扣
        var balance_deduction = $("#balance_deduction").val();

        // 收款金额
        var actual_pay_money = parseFloat(no_collect_amount) - parseFloat(balance_deduction == '' ? 0 : balance_deduction);

        if(parseFloat(actual_pay_money) < 0 ){
            layer.msg("收款金额不能大于待收金额！", {icon: 2});
            $("#collect_money").val(parseFloat(actual_pay_money.toFixed(2)));
            checkfalse('sps1');
            submitFalse();
            return false;
        }else{
            checktrue('sps1');
        }
        // 控制银行名称是否显示
            // type = 1 是输入校验参数 需要调用这个方法， 如果是2，则表示提交验证，无需开启此方法
        if(type == 1){
            $("#collect_money").val(parseFloat(actual_pay_money.toFixed(2)));
        }
        checkcollectmoney();
        // 预存余额剩余
        var balance = parseFloat($("#account_balance").val()) - parseFloat(balance_deduction == '' ? 0 : balance_deduction);
        $("#balance").val(parseFloat(balance.toFixed(2)));

        // 如果抵扣金额 = 申请付款金额（销售单），则需要隐藏银行简称选项
        // 如果转预收（销退单），则需要隐藏银行简称选项
        // 其他条件可以展示
        if(parseFloat(no_collect_amount) == parseFloat(balance_deduction) && $("#source_order_type").val() == 0){
            $("#bank_simple_name").select2("val", 0);
            $("#bank_hide").css('display','none');
        }else if($.trim($("input[name='is_prestore_money']:checked").val()) == 1){
            $("#bank_hide").css('display','none');
            $("#bank_simple_name").select2("val", 0);
        }else if(parseFloat($.trim($("#collect_money").val())) != 0){
            $("#bank_hide").css('display','block');
        }else{
            $("#bank_simple_name").select2("val", 0);
            $("#bank_hide").css('display','none');
        }
        if (parseFloat(balance_deduction) < 0) {
            layer.msg("抵扣余额不能小于0！", {icon: 2});
            checkfalse('sps2');
            submitFalse();
            return false;
        } else if (parseFloat(balance_deduction) > parseFloat($("#account_balance").val())) {
            layer.msg("抵扣余额不能大于账户余额！", {icon: 2});
            checkfalse('sps2');
            submitFalse();
            return false;
        } else if (parseFloat(balance_deduction) + parseFloat(actual_pay_money) > parseFloat(no_collect_amount)) {
            layer.msg("收款金额不能大于待收余额！", {icon: 2});
            checkfalse('sps2');
            submitFalse();
            return false;
        } else if (parseFloat($.trim($("#collect_money").val())) >= 0 && Math.round((parseFloat($.trim($("#collect_money").val())) + parseFloat(balance_deduction))*100)/100 > parseFloat($.trim(no_collect_amount))) {

            layer.msg("收款金额不能大于订单未收金额！", {icon: 2});
            checkfalse('sps2');
            submitFalse();
            return false;
        } else if (parseFloat($.trim($("#collect_money").val())) < 0 && balance_deduction > 0) {
            layer.msg("退款操作不允许余额抵扣！", {icon: 2});
            checkfalse('sps2');
            submitFalse();
            return false;
        } else {
            checktrue('sps2');
            return true;
        }
    }

    /*提交操作*/
    $('#DealerSaveBtn').click(function () {

        submitTrue();
        var da = {
            'collect_money': $.trim($("#collect_money").val()),
            'balance_deduction': $.trim($("#balance_deduction").val()),
            'sale_order_id': $.trim($("#sale_order_id").val()),
            'sale_order_number': $.trim($("#sale_order_number").val()),
            'bank_id'   :$.trim($("#bank_simple_name").val()),
            'bank_simple_name' : $.trim($("#bank_simple_name option:selected").text()),
            'is_prestore_money'  : $.trim($("input[name='is_prestore_money']:checked").val()),
            'remark': $.trim($("#remark").val()),
        };
        if (checkcollectmoney() && checkbalancededuction(2) && check_bank()) {
            layer.load(1, {shade: 0.3});
            var url = '<{:U("ErpFinance/addSaleCollection")}>';
            // 如果是销退，则走下面地址
            if($.trim($("#source_order_type").val()) == 1){
                url = '<{:U("ErpFinance/confirmSaleReturnCollection")}>';
                da.id = da.sale_order_id;
                da.order_number = da.sale_order_number;
            }
            var type = 'post';
            var dataType = 'json';
            var data = da;
            ajax(url, data, type, dataType, function (_data) {
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                    top.searchErpSaleCollectionDetail();
                    parent.searthesErpSaleCollectionList();
                    setTimeout(function () {
                        doSlideUp();
                        submitFalse();
                    }, 500);
                } else {
                    if(_data.message == '已申请金额不能超出订单总金额'){
                        checkfalse('sps1');
                    }
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                    submitFalse();
                    return false;
                }
            });
        }
    });

    top.searchErpSaleCollectionDetail = function (status) {
        var current_page = status || false;
        var param = 'show_all=1';

        table.api().ajax.url("<{:U('ErpFinance/erpSaleCollectionDetail')}>?" + param);
        table.api().ajax.reload(function(){
            $('#subes').val('查询').attr('disabled', false);
            layer.closeAll('loading');
        }, current_page);
    }

    // @添加下单按钮禁用属性
    function submitTrue() {
        $('#DealerSaveBtn').attr("disabled", true).addClass('disabled').val('处理中');
    }

    // @移除下单按钮禁用属性
    function submitFalse() {
        $('#DealerSaveBtn').attr("disabled", false).removeClass('disabled').val('提交');
    }
    /* @end 基本信息 */

    /* 拜访记录 */

    function saveVisitInfo() {
        var url = '<{:U("User/saveVisitInfo")}>';
        var data = $('#form-visit-add').serialize();
        data.id = '<{$Think.get.id}>';
        var dataType = 'json';
        var type = 'post';
        ajax(url, data, type, dataType, function (_data) {
            if (_data.status == 1) {
                layer.msg(_data.message, {icon: 1});
                window.location.reload();
                return false;
            } else {
                layer.msg(_data.message, {icon: 2});
                return false;
            }
        })
    }

    $('.table-sort tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

    $('#dataTable tbody').on('click', 'tr', function () {

        var index = $(this).index();
        if ($('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked') == false) {
            $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
        } else {
            $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', false);
        }
        $('#dataTable tbody tr').eq(index).siblings().find('.checkchild').prop('checked', false);

    });

    //验证信息正确
    function checktrue($place) {
        $('#' + $place).html("<i class='Hui-iconfont'>&#xe676;</i>");
        $('#' + $place).removeClass();
        $('#' + $place).addClass("c-green");
    }

    //验证信息错误
    function checkfalse($place) {
        $('#' + $place).html("<i class='Hui-iconfont'>&#xe706;</i>");
        $('#' + $place).removeClass();
        $('#' + $place).addClass("c-red");
    }

    /**
     * 红冲销退收款记录
     */
    function reverse_returned_collection(){
        var url = '<{:U("ErpReverse/returnedCollectionReverse")}>';
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择收款记录', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            var id = $(".checkchild:checked").val();
           // url = url + '/id/' + id;
            var data = {id:id};
            //layer_show(title, url, w, h);
            layer.confirm('确定要红冲收款吗？', function () {
                layer.load(1, {shade: 0.3});
                ajax(url,data,'post', 'json', function(_data) {
                    if(_data.status == 1){
                        layer.closeAll();
                        layer.msg(_data.message, {icon: 1});
                        top.searchErpSaleCollectionDetail();
                    }else{
                        layer.closeAll();
                        layer.msg(_data.message, {icon: 2});
                    }
                })
            })

        } else {
            layer.msg('无法批量操作，只能选择一项', {icon: 2});
        }
    }

    /*银行账号-详情*/
    function erp_bank_detail(title, url, w, h, id) {
        url = url + '/id/' + id + '/type/' + 2;
        layer_show(title, url, w, h);
    }
    var selectRegion = $("#bank_simple_name").select2({
        placeholder: '请选择简称',
        //allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });

    // 整额收款
    function collect_all(){

        var no_collect_amount = $.trim($("#no_collect_amount").val());
        $("#collect_money").val(no_collect_amount);
        $("#balance_deduction").val(0);
        $("#balance").val($.trim($("#account_balance").val()));
        checktrue('sps1');
        checktrue('sps2');
        checkcollectmoney();
    }

    // 选择简称，更换银行账号和信息
    function update_bank_info(){
        var bank_id = $.trim($("#bank_simple_name").val());
        if(bank_id > 0 ){
            // 获取最新的银行账号、名称
            var url = '<{:U("ErpBank/getErpBankInfoById")}>';
            var type = 'post';
            var dataType = 'json';
            var data = { 'id':bank_id};
            ajax(url, data, type, dataType, function (_data) {
                layer.load(1, {shade: 0.3});
                if (_data.status == 1) {
                    layer.closeAll();
                    $("#bank_name").val(_data.bank_name);
                    $("#bank_num").val(_data.bank_num);
                } else {
                    layer.closeAll();
                    checkfalse('sps2');
                    $("#bank_name").val('');
                    $("#bank_num").val('');
                    layer.msg('该笔银行账号信息有误，请刷新后重试！', {icon: 2});
                }
            });
            //$("#bank_name").val(bank_info[bank_id]['bank_name']);
            //$("#bank_num").val(bank_info[bank_id]['bank_num']);
        }else{
            $("#bank_name").val('');
            $("#bank_num").val('');
        }
    }

    // 验证是否发生了金钱往来，但是未选择银行账套
    function check_bank(){
        // 如果余额抵扣 != 申请金额 则发生了银行交易
        if($.trim($("input[name='is_prestore_money']:checked").val()) == 2 && $.trim($("#bank_simple_name").val()) <= 0 && parseFloat($.trim($("#collect_money").val())) > 0){
            layer.msg("发生银行往来，请确认银行信息！", {icon: 2});
            submitFalse();
            return false;
        }
        return true;
    }


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>