<include file="./Application/Home/View/headers.html"/>
<link rel="stylesheet" href="__TPL__lib/select2/css/select2.min.css"/>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 财务管理 <span
        class="c-gray en">&gt;</span> 销售发票 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <form id="searchErp">
            <span class="ml-10">　　销售单号：&nbsp;</span><input type="text" class="input-text" style="width:15%;"
                                                           name="order_number" id="order_number"
                                                           value="" placeholder="代码号"/>

            <span class="ml-10">起始订单日期：</span>
            <input type="text" name="start_time" placeholder="起始订单日期" onfocus="WdatePicker({lang:'zh-cn'})"
                   id="start_time" style="width:15%;" class="input-text Wdate">

            <span class="ml-10">截止订单日期：</span>
            <input type="text" name="end_time" placeholder="截止订单日期" onfocus="WdatePicker({lang:'zh-cn'})"
                   id="end_time" style="width:15%;" class="input-text Wdate">

            <br/>

            <div class="mt-10">
                <span class="ml-10">客户（公司）：</span>
                <select id="sale_company_id" name="sale_company_id" class="input-text" style="width:15%">
                    <option></option>
                </select>

                <span class="ml-10">　　　交易员：</span>
                <select id="dealer_id" name="dealer_id" class="input-text" style="width:15%">
                    <option></option>
                </select>
                <span class="ml-10">是否二次定价：</span>
                <select name="is_update_price" id="is_update_price" class="input-text" style="width:15%">
                    <option value=''>请选择</option>
                    <option value='2'>否</option>
                    <option value='1'>是</option>
                </select>
            </div>
            <div class="mt-10">
                <span class="ml-10">　　开票状态：</span>
                <select id="invoice_status" name="invoice_status" class="input-text" style="width:15%">
                    <option value="">请选择</option>
                    <volist name="data.invoice_list" id="vo">
                        <option value="<{$key}>"><{$vo}></option>
                    </volist>
                </select>

                <span class="ml-10">　　收款状态：</span>
                <select id="collection_status" name="collection_status" class="input-text" style="width:15%">
                    <option value="">请选择</option>
                    <volist name="data.collection_list" id="vo">
                        <option value="<{$key}>"><{$vo}></option>
                    </volist>
                </select>
                <span class="ml-10">　　付款方式：</span>
                <select id="pay_type" name="pay_type" class="input-text" style="width:15%">
                    <option value="">请选择</option>
                    <volist name="data.pay_type_list" id="vo">
                        <option value="<{$key}>"><{$vo}></option>
                    </volist>
                </select>&nbsp;
                &nbsp;&nbsp;<input type="button" onclick="sub_select()" id="subes" class="btn btn-success radius"
                                   value="查询"/>
            </div>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l"><a href="javascript:;" onclick="upload_tickets()" class="btn btn-primary radius">上传待开票</a>&nbsp;</span>
        <!--<span class="l"><a href="javascript:;" onclick="invoice_confirmation(1)" class="btn btn-primary radius">17%税率整单开票</a>&nbsp;</span>-->
        <!--<span class="l"><a href="javascript:;" onclick="invoice_confirmation(2)" class="btn btn-primary radius">13%税率整单开票</a>&nbsp;</span>-->
        <span class="l"><a href="javascript:;" onclick="invoice_confirmation(2)" class="btn btn-primary radius">整单开票</a>&nbsp;</span>
        <span class="l"><a href="javascript:;" onclick="invoice_detail('开票详情', '<{:U(\'ErpFinance/erpSaleInvoiceDetail\')}>', '80%','550')" class="btn btn-primary radius">开票详情</a>&nbsp;</span>
        <span class="l"><a href="javascript:;" onclick="export_excel('导出')" class="btn btn-primary radius">导出</a>&nbsp;</span>
        <span class="l"><a href="javascript:;" onclick="invoice_info('发票信息', '<{:U(\'ErpFinance/erpSaleInvoiceInfo\')}>', '800','400')" class="btn btn-primary radius">发票信息</a>&nbsp;</span>
        <span class="l"><a href="javascript:;" onclick="cancleSaleOrderTickets()" class="btn btn-primary radius">取消开票</a>&nbsp;</span>
    </div>
    <div class="mt-20" style="overflow-x:scroll;white-space:nowrap;">
        <table class="table table-border table-bordered table-hover table-bg table-sort" id="dataTable" width="100%">
            <thead>
            <tr class="text-c">
                <th></th>
                <th>序号</th>
                <th>销售单号</th>
                <th>订单日期</th>
                <th>交易员</th>
                <th>客户</th>
                <th>国税号</th>
                <th>开户银行</th>
                <th>银行账号</th>
                <th>商品代码</th>
                <th>单价</th>
                <th>数量</th>
                <th>退货数量</th>
                <th>实际销售数量</th>
                <th>运费</th>
                <th>订单总额</th>
                <th>已开发票金额</th>
                <th>未开发票金额</th>
                <th>收款状态</th>
                <th>开票状态</th>
                <th>收款方式</th>
                <th>开票特殊要求</th>
                <th>发票号码</th>
                <th>注册信息</th>
                <th>二次定价</th>
            </tr>
            </thead>
            <tfoot style="background-color:#f5fafe;">
            <tr>
                <th class="text-c">当页</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr id="sum_total">
                <th class="text-c">所有</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<include file="./Application/Home/View/footers.html"/>
<script type="text/javascript" src="__TPL__lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="__TPL__lib/select2/js/i18n/zh-CN.js"></script>
<script type="text/javascript" src="__TPL__static/select.js"></script>
<script type="text/javascript">
    $("#sale_company_id").select2({
        ajax: {
            type: 'GET',
            //url: "<{:U('Clients/getCompanyByName')}>",
            url: "<{:U('ErpCustomer/getCustomerData')}>",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term 请求参数
                    restrict: 2,
                    //page: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                /*var itemList = [];//当数据对象不是{id:0,text:'ANTS'}这种形式的时候，可以使用类似此方法创建新的数组对象
                 var arr = data.result.list
                 for(item in arr){
                 itemList.push({id: item, text: arr[item]})
                 }*/
                return {
                    results: data.data,//itemList
//                    pagination: {
//                        more: (params.page * 30) < data.total_count
//                    }
                };
            },
            cache: true,

        },
        placeholder: '请选择',//默认文字提示
        language: "zh-CN",
        tags: true,//允许手动添加
        allowClear: true,//允许清空
        escapeMarkup: function (markup) {
            return markup;
        }, // 自定义格式化防止xss注入
        minimumInputLength: 1,
        templateResult: function formatRepo(repo) {
            if (repo.loading == true) return repo.text; else if (typeof(repo.company_name) != 'undefined') return '<option value="' + repo.id + '">' + repo.company_name + '</option>';
        }, // 函数用来渲染结果
        templateSelection: function formatRepoSelection(repo) {
            if (typeof(repo.company_name) != 'undefined') {
                return repo.company_name;
            } else if (repo.text == '请选择') {
                return repo.text;
            }
        } // 函数用于呈现当前的选择
    });

    $("#dealer_id").select2({
        ajax: {
            type: 'GET',
            url: "<{:U('User/getDealerByName')}>",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term 请求参数
                    //page: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                /*var itemList = [];//当数据对象不是{id:0,text:'ANTS'}这种形式的时候，可以使用类似此方法创建新的数组对象
                 var arr = data.result.list
                 for(item in arr){
                 itemList.push({id: item, text: arr[item]})
                 }*/
                return {
                    results: data.data,//itemList
//                    pagination: {
//                        more: (params.page * 30) < data.total_count
//                    }
                };
            },
            cache: true,

        },
        placeholder: '请选择',//默认文字提示
        language: "zh-CN",
        tags: true,//允许手动添加
        allowClear: true,//允许清空
        escapeMarkup: function (markup) {
            return markup;
        }, // 自定义格式化防止xss注入
        minimumInputLength: 1,
        templateResult: function formatRepo(repo) {
            if (repo.loading == true) return repo.text; else if (typeof(repo.dealer_name) != 'undefined') return '<option value="' + repo.id + '">' + repo.dealer_name + '</option>';
        }, // 函数用来渲染结果
        templateSelection: function formatRepoSelection(repo) {
            if (typeof(repo.dealer_name) != 'undefined') {
                return repo.dealer_name;
            } else if (repo.text == '请选择') {
                return repo.text;
            }
        } // 函数用于呈现当前的选择
    });

    var Totaldeliverymoney = 0;
    var Totalorderamount = 0;
    var Totalinvoicedamount = 0;
    var Totalnoinvoiceamount = 0;

    var da = new Array();
    da['status'] = 10;
    da['invoice'] = 1;
    var table = $('.table-sort').dataTable({
        "paging": true,
        "serverSide": true,
        "iDisplayLength": 10,
        ajax: {
            //url: "<{:U('Galaxy/orderList')}>",
            url: "<{:U('ErpFinance/erpSaleInvoiceList')}>",
            data: da,
            type: 'post'
        },
        "aaSorting": [[2, "desc"]],//默认第几个排序
        "bStateSave": false, //状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            //{"orderable":false,"aTargets":[0,1]}// 制定列不参与排序
        ],
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        "deferRender": true, //延迟渲染
        "searching": false,
        "bPaginate": true,
        "bLengthChange": true,
        "columns": [
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    return '<input name="check_box_list" type="checkbox"  class="checkchild" order_number="'+data.order_number+'" value="' + data.id + '" onclick="change_check(this)"/>';
                }
            },
            {"data": "No"},
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    var onclick = "update_order('编辑', '<{:U(\'ErpSale/updateSaleOrder\')}>', '900','550' ,'" + data.id + "')";
                    return '<a onclick="' + onclick + '" class="c-primary">' + data.order_number + '</a>';
                }
            },
            {"data": "add_order_time"},
            //{"data": "create_time"},
            {"data": "dealer_name"},
            //{"data": "s_company_name"},
            {
                "data": null,
                render: function (data, type, full, meta) {
                    var str            = '';
                    var s_company_name = data.s_company_name;
                    str += '<a href="javascript:;"   class="c-primary" onclick="clients_detail(\'公司详情\',\'<{:U(\"/ErpCustomer/updateCustomer?view=1\")}>\',' + data.company_id + ',1000,500)">' + s_company_name + '</a>';
                    return str;
                }
            },
            {"data": "tax_num"},
            {"data": "bank_name"},
            {"data": "bank_num"},
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    var onclick = "update_goods('编辑', '<{:U(\'ErpGoods/showUpdateErpGoods\')}>', '900','550' ,'" + data.goods_id + "')";
                    return '<a onclick="' + onclick + '" class="c-primary">' + data.goods_code + '</a>';
                }
            },
            {"data": "price"},
            {"data": "buy_num"},
            {"data": "returned_goods_num"},
            {"data": "actual_goods_num"},
            {"data": "delivery_money"},
            {"data": "total_amount"},
            {"data": "invoiced_amount"},
            {"data": "no_invoice_amount"},
            {"data": "collection_status"},
            {"data": "invoice_status"},
            {"data": "pay_type"},
            {"data": "invoice_remark"},
            {"data": "invoice_sn"},
            {"data": "company_info"},
            {"data": "is_update_price"},
        ],
//        fnFooterCallback: function(nFoot, aData, iStart, iEnd, aiDisplay) {
//            for (var i=0;i<aData.length;i++) {
//                Totaldeliverymoney += parseInt(aData[i].delivery_money);
//                Totalorderamount += parseInt(aData[i].order_amount);
//                Totalinvoicedamount += parseInt(aData[i].invoiced_amount);
//                Totalnoinvoiceamount += parseInt(aData[i].no_invoice_amount);
//            }
//
//            nFoot.getElementsByTagName('td')[0].innerHTML = "合计";
//            nFoot.getElementsByTagName('td')[13].innerHTML = Totaldeliverymoney;
//            nFoot.getElementsByTagName('td')[14].innerHTML = Totalorderamount;
//            nFoot.getElementsByTagName('td')[15].innerHTML = Totalinvoicedamount;
//            nFoot.getElementsByTagName('td')[16].innerHTML = Totalnoinvoiceamount;
//
//            Totaldeliverymoney = 0;
//            Totalorderamount = 0;
//            Totalinvoicedamount = 0;
//            Totalnoinvoiceamount = 0;
        //}
        footerCallback: function ( row, data, start, end, display,aoData ) {

            if(data == ''){
                $('tfoot th').eq(0).siblings().html('');
                $('#sum_total th').eq(0).siblings().html('');
                //console.log('--');
                return false;
            }else{
                var total_buy_num = data[0].sumTotal['total_buy_num'];
                var total_returned_goods_num = data[0].sumTotal['total_returned_goods_num'];
                var total_delivery_money = data[0].sumTotal['total_delivery_money'];
                var total_amount = data[0].sumTotal['total_amount'];
                var total_invoiced_amount = data[0].sumTotal['total_invoiced_amount'];
                var total_no_invoiced_amount = data[0].sumTotal['total_no_invoiced_amount'];
                $('#sum_total th').eq(11).html(parseFloat(total_buy_num).toFixed(4));
                $('#sum_total th').eq(12).html(parseFloat(total_returned_goods_num).toFixed(4));
                $('#sum_total th').eq(13).html(parseFloat(total_buy_num - total_returned_goods_num).toFixed(4));
                $('#sum_total th').eq(14).html(parseFloat(total_delivery_money).toFixed(2));
                $('#sum_total th').eq(15).html(parseFloat(total_amount).toFixed(2));
                $('#sum_total th').eq(16).html(parseFloat(total_invoiced_amount).toFixed(2));
                $('#sum_total th').eq(17).html(parseFloat(total_no_invoiced_amount).toFixed(2));
            }
            var api = this.api();
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                                i : 0;
            };
            //Total over all pages

            for(i=0;i<21;i++){

                if(i == 0){

                    continue;
                }

                if(i < 11 || i > 17){
                    $( api.column( i ).footer() ).html("");
                    continue;
                }

                var totals;
                var total = api.column(i).data();
                if(total.length > 0){
                    totals = total.reduce(function (a, b) {
                        if (isNaN(a)) {
                            a = 0;
                        }
                        if (isNaN(b)) {
                            b = 0;
                        }
                        return intVal(a) + intVal(b);
                    });
                }else{
                    totals = 0;
                }
                // Total over this page
                var pageTotals;
                var pageTotal = api.column(i, {page: 'current'}).data();
                if(pageTotal.length > 0){
                    pageTotals = pageTotal.reduce(function (a, b) {
                        if (isNaN(a)) {
                            a = 0;
                        }
                        if (isNaN(b)) {
                            b = 0;
                        }
                        return intVal(a) + intVal(b);
                    });
                }else{
                    pageTotals = 0;
                }
                //console.log(pageTotals);
                pageTotals = intVal(pageTotals) + 0;
                totals = intVal(totals) + 0;
                // Update footer
                if(i == 11 || i == 12 || i == 13){
                    $(api.column(i).footer()).html(
                            '' + parseFloat(pageTotals).toFixed(4)
                    );
                }else{
                    $(api.column(i).footer()).html(
                            '' + parseFloat(pageTotals).toFixed(2)
                    );
                }

            }
        }
    });

    /*开票确认*/
    /*
    * invoice_type ：1 为17%税率、 2 为16%税率
    * */
    function invoice_confirmation(invoice_type) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else {
            var ids          = new Array();
            var order_number = new Array();
            $("input[type='checkbox']:checked").each(function(){
                ids.push($(this).val());
                order_number.push($(this).attr('order_number'));
            });
            /*
             判断销退单收款  是否存在负数
             */
            var info_url = '<{:U("ErpFinance/checkReturnOrder")}>';
            ajax(info_url, {id: ids,order_number : order_number ,type :1}, 'post', 'json', function (_data) {
                if (_data.status != 1) {
                    //layer.msg('此笔销售单存在销退单退款未确认，无法开票！', {icon: 2});
//                    layer.msg(_data.message);
                    layer.confirm(_data.message, {
                        btn: ['确认']
                    }, function () {
                        layer.closeAll();
                    });
                    return false;
                }else{
                    /* -------------------------------------
                        验证改笔订单暂无退货单未退款情况，可以开票
                    */
                    var url = '<{:U("ErpFinance/confirmSaleInvoice")}>';
                    var type = 'post';
                    var dataType = 'json';
                    layer.confirm('确认要整单开票？', {
                        btn: ['是', '取消']
                    }, function () {
                        layer.load(1, {shade: 0.3});
                        $.ajax({
                            url: url,
                            data: {id: ids,invoice_type : invoice_type},
                            type: type,
                            dataType: dataType,
                            success: function (_data) {
                                if (_data.status == 1) {
                                    layer.closeAll();
                                    layer.msg(_data.message, {icon: 1});
                                    setTimeout(function () {
                                        searthesErpSaleInvoiceList();
                                    }, 1000);
                                } else if(_data.wrong_message) {
                                    layer.closeAll();
                                    layer.confirm(_data.wrong_message, {
                                        btn: ['确认']
                                    }, function () {
                                        layer.closeAll();
                                        searthesErpSaleInvoiceList();
                                    })
                                } else {
                                    layer.closeAll();
                                    layer.msg(_data.message, {icon: 2});
                                    setTimeout(function () {
                                        searthesErpSaleInvoiceList();
                                    }, 1000);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                is = 1;
                                console.log(XMLHttpRequest);
                                console.log(textStatus);
                                console.log(errorThrown);
                                console.log('请求异常，请检查！');
                            }
                        });
                    });
                    /*--------------------------------------
                      开票
                     */
                }
            });
        }
    }

    /*开票详情*/
    function invoice_detail(title, url, w, h) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            var id = $(".checkchild:checked").val();
            url = url + '/id/' + id;
            layer_show(title, url, w, h);
        } else {
            layer.msg('无法批量操作，只能选择一项', {icon: 2});
        }
    }

    /*开票信息*/
    function invoice_info(title, url, w, h) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            var id = $(".checkchild:checked").val();
            var info_url = '<{:U("ErpFinance/getSaleOrderStatus")}>';
            ajax(info_url, {id: id}, 'post', 'json', function (_data) {
                console.log(_data.status);
                if (_data.status != 1) {
                    layer.msg('此单销售单不是整单开票，无法补录发票信息', {icon: 2});
                } else {
                    url = url + '/id/' + id;
                    layer_show(title, url, w, h);
                }
            });
        } else {
            layer.msg('无法批量操作，只能选择一项', {icon: 2});
        }
    }

    /*导出*/
    function export_excel(title) {
        layer.confirm('确认导出？', {
            btn: ['是', '取消']
        }, function () {
            var order_number    = $.trim($("#order_number").val());
            var start_time      = $("#start_time").val();
            var end_time        = $("#end_time").val();
            var sale_company_id = $("#sale_company_id").val();
            var dealer_id       = $("#dealer_id").val();
            var invoice_status  = $("#invoice_status").val();
            var collection_status = $("#collection_status").val();
            var pay_type          = $("#pay_type").val();
            var is_update_price   = $("#is_update_price").val();


            if(order_number     == '')order_number      = 'null';
            if(start_time       == '')start_time   = 'null';
            if(end_time         == '')end_time    = 'null';
            if(sale_company_id  == '')sale_company_id     = 'null';
            if(dealer_id        == '')dealer_id    = 'null';
            if(invoice_status   == '')invoice_status    = 'null';
            if(collection_status == '')collection_status ='null';
            if(pay_type == '')pay_type ='null';
            if(is_update_price == '')is_update_price ='null';
            var url = '<{:U("ErpFinance/exportInvoice/order_number/'+order_number+'/start_time/'+start_time+'/end_time/'+end_time+'/sale_company_id/'+sale_company_id+'/dealer_id/'+dealer_id+'/invoice_status/'+invoice_status+'/collection_status/'+collection_status+'/pay_type/'+pay_type+'/is_update_price/'+is_update_price+'/status/10")}>';
            layer.load(1, {shade: 0.3});
            window.location.href=url;
            setTimeout(function(){
                layer.closeAll();
            }, 1000);
        });
    }

    /*销售单-详情*/
    function update_order(title, url, w, h, id) {

        url = url + '/id/' + id + '/is_show/1';

        layer_show(title, url, w, h);
    }

    /*商品-详情*/
    function update_goods(title, url, w, h, id) {

        url = url + '/id/' + id + '/is_show/1';

        layer_show(title, url, w, h);
    }

    // @搜索框搜索查询
    searthesErpSaleInvoiceList = function(status){
        var current_page = status || false;
        var param = $('#searchErp').serialize();
        table.api().ajax.url("<{:U('ErpFinance/erpSaleInvoiceList')}>?" + param);
        table.api().ajax.reload(function(){
            $('#subes').val('查询').attr('disabled', false);
            layer.closeAll('loading');
        }, current_page);
    }

    function sub_select() {
        $('#subes').val('查询中...').attr('disabled', true);
        var index = layer.load(0, {shade: false});
        searthesErpSaleInvoiceList(true);

    }

    //    // @搜索
    //    searthesRetailFinance = function(){
    //        var url = "<{:U('RetailFinance/orderReconciliationList')}>" + '?' + $("#form1").serialize();
    //        table.api().ajax.url(url);
    //        table.api().ajax.reload();
    //    }
    //
    //    function sub_select(){
    //        $('#subes').val('查询中...');
    //        var index = layer.load(0, {shade: false});
    //        searthesRetailFinance();
    //        setTimeout(function(){
    //            $('#subes').val('查询');
    //            layer.closeAll('loading');
    //        }, 1000);
    //    }

    $('.table-sort tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        } else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

    $('#dataTable tbody').on('click', 'tr', function () {

        var index = $(this).index();
        var status = $('#dataTable tbody tr').eq(index).find('.checkchild').attr('status');

        if (status == 0) {
            var c = $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked');
            if (c) {
                $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', false);
            } else {
                $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
            }
        }
    });

//    $('#dataTable tbody').on('click', 'tr', function () {
//
//        var index = $(this).index();
//        console.log($('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked'));
//        $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
//        $('#dataTable tbody tr').eq(index).siblings().find('.checkchild').prop('checked', false);
//
//    });
    $('#dataTable tbody').on('click', 'tr', function () {
        var index = $(this).index();
//        console.log($('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked'));
        if ($('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked')) {
            $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', false);
        } else {
            $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
        }
//        console.log($('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked'));
    });

    function change_check(inp) {
        if ($(inp).prop('checked')) {
            $(inp).prop('checked',false);
        } else {
            $(inp).prop('checked',true);
        }
    }

    /*公司详情*/
    function clients_detail(title, url, id, w, h) {
        if(id > 0){
            url = url + '/id/' + id;
            layer_show(title, url, w, h);
        }else{
            layer.alert("请选择有效公司");
        }
    }

    /*上传待开票信息*/
    function upload_tickets(){
        if ($('.checkchild:checked').length == 0) {
            layer.confirm('确认上传全部 "已付款、未开票" 信息吗？', {
                btn: ['是', '取消']
            }, function () {
                layer.load(1, {shade: 0.3});
                $.ajax({
                    url: '<{:U("ErpFinance/uploadSaleOrderTickets")}>',
                    data: {id: '',all : 1}, // all 用来标记是全部上传
                    type: 'post',
                    dataType: 'json',
                    success: function (_data) {
                        if (_data.status == 1) {
                            layer.closeAll();
                            layer.msg(_data.message, {icon: 1});
                            setTimeout(function () {
                                searthesErpSaleInvoiceList();
                            }, 1000);
                        } else {
                            layer.closeAll();
                            layer.msg(_data.message, {icon: 2});
                            setTimeout(function () {
                                searthesErpSaleInvoiceList();
                            }, 1000);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        is = 1;
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log('请求异常，请检查！');
                    }
                });
            });
        } else {
            var ids          = new Array();
            var order_number = new Array();
            $("input[type='checkbox']:checked").each(function(){
                ids.push($(this).val());
                order_number.push($(this).attr('order_number'));
            });

            layer.confirm('确认要批量开票？', {
                btn: ['是', '取消']
            }, function () {
                layer.load(1, {shade: 0.3});
                $.ajax({
                    url: '<{:U("ErpFinance/uploadSaleOrderTickets")}>',
                    data: {id: ids,order_number : order_number,all:2},
                    type: 'post',
                    dataType: 'json',
                    success: function (_data) {
                        if (_data.status == 1) {
                            layer.closeAll();
                            layer.msg(_data.message, {icon: 1});
                            setTimeout(function () {
                                searthesErpSaleInvoiceList();
                            }, 1000);
                        }  else {
                            layer.closeAll();
                            layer.msg(_data.message, {icon: 2});
                            setTimeout(function () {
                                searthesErpSaleInvoiceList();
                            }, 1000);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        is = 1;
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log('请求异常，请检查！');
                    }
                });
            });
        }
    }


    function cancleSaleOrderTickets(){
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else {
            var ids          = new Array();
            var order_number = new Array();
            $("input[type='checkbox']:checked").each(function(){
                ids.push($(this).val());
                order_number.push($(this).attr('order_number'));
            });

            layer.confirm('确认要取消开票？', {
                btn: ['是', '取消']
            }, function () {
                layer.load(1, {shade: 0.3});
                $.ajax({
                    url: '<{:U("ErpFinance/cancleSaleOrderTickets")}>',
                    data: {id: ids,order_number : order_number},
                    type: 'post',
                    dataType: 'json',
                    success: function (_data) {
                        if (_data.status == 1) {
                            layer.closeAll();
                            layer.msg(_data.message, {icon: 1});
                            setTimeout(function () {
                                searthesErpSaleInvoiceList();
                            }, 1000);
                        }else {
                            layer.closeAll();
                            layer.msg(_data.message, {icon: 2});
                            setTimeout(function () {
                                searthesErpSaleInvoiceList();
                            }, 1000);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        is = 1;
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log('请求异常，请检查！');
                    }
                });
            });
        }
    }
</script>
