<include file="./Application/Home/View/headers.html"/>
<style>
    .disabled {
        cursor: no-drop;
        background-color: #9D9D9D;
    }

    .input-text {
        width: 78%
    }
</style>
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar clearfix">
                <span>基本信息</span>
                <span>联系人</span>
                <span>银行账号</span>
            </div>
            <div id="information" class="tabCon">
                <form action="" method="post" class="form form-horizontal" id="form-order-add">
                    <div style="overflow: hidden">
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>供应商名称：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text" id="supplier_name" name="supplier_name" value="<{$data.data.supplier_name}>" disabled/>
                                </div>
                            </div>

                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red"></span>简称：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text " id="supplier_short_name" name="supplier_short_name" value="<{$data.data.supplier_short_name}>" />
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>企业税号：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text " value="<{$data.data.tax_number}>" id="tax_number" name="tax_number" maxlength="20" />
                                </div>
                            </div>

                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>注册银行名称：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text " value="<{$data.data.registered_bank}>" id="registered_bank" name="registered_bank" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>注册银行账号：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text " value="<{$data.data.registered_bank_number}>" id="registered_bank_number" name="registered_bank_number" maxlength="50" />

                                </div>
                            </div>
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red"></span>注册电话：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text " value="<{$data.data.registered_tel}>" placeholder="" id="registered_tel" name="registered_tel" />
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>注册地址：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text " placeholder="" id="registered_address" name="registered_address" value="<{$data.data.registered_address}>"/>
                                </div>
                            </div>

                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red"></span>公司电话：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text " value="<{$data.data.company_tel}>" placeholder="" id="company_tel" name="company_tel" />
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red"></span>邮编：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text " value="<{$data.data.post_code}>" placeholder="" id="post_code" name="post_code" maxlength="10"/>

                                </div>
                            </div>
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>是否团内：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <select id="is_inner" name="is_inner" class="input-text " style="width:100%;" >
                                        <option value="0">请选择</option>
                                        <volist name="data.isInner" id="vo" key="k">
                                            <option value="<{$key}>" <if condition="$data['data']['is_inner'] eq $key">selected</if> >
                                                <{$vo}>
                                            </option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-8">
                                <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>公司地址：</label>
                                <div class="formControls col-xs-8 col-sm-8">
                                    <select name="address_province" class="input-text" style="width:35%" id="address_province" onchange="change_shipping_city(this.value)">
                                        <optgroup label="省份列表">
                                            <option value="0">省份</option>
                                            <volist name="data.province_list" id="vo" key="k">
                                                <option value="<{$key}>" <if condition="$data['data']['address_province'] eq $key">selected</if> >
                                                    <{$vo}>
                                                </option>
                                            </volist>
                                        </optgroup>
                                    </select>

                                    <select name="address_city" class="input-text" style="width:29%" id="address_city" onchange="change_shipping_county(this.value)">
                                        <optgroup label="城市列表">
                                            <option value="0">城市</option>
                                        </optgroup>
                                    </select>

                                    <select name="address_zone" class="input-text" style="width:31%" id="address_zone" >
                                        <optgroup label="地区列表">
                                            <option value="0">地区</option>
                                        </optgroup>
                                    </select>
                                    <span id="sps23"></span>

                                    <!--<input type="text" class="input-text" value="" placeholder="" id="company_address" name="company_address" />-->
                                </div>
                            </div>
                            <div class="row cl col-sm-4">
                                <input type="text" class="input-text" id="company_address" name="company_address" value="<{$data.data.company_address}>" />
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4">公司级别：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <select id="company_level" name="company_level" class="input-text " style="width:100%;" >
                                        <option value="0">请选择</option>
                                        <volist name="data.level" id="vo" key="k">
                                            <option value="<{$key}>" <if condition="$data['data']['company_level'] eq $key">selected</if> >

                                                <{$vo}>
                                            </option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="row cl col-sm-6">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>业务属性：</label>

                                <div class="formControls col-xs-7 col-sm-7">
                                    <select id="business_attributes" name="business_attributes" class="input-text " style="width:100%;" >
                                        <option value="0">请选择</option>
                                        <volist name="data.businessAttributes" id="vo" key="k">
                                            <option value="<{$key}>" <if condition="$data['data']['business_attributes'] eq $key">selected</if> >
                                                <{$vo}>
                                            </option>
                                        </volist>
                                    </select>
                                </div>
                                <span></span>
                            </div>
                        </div>
                        <!--<div class="row cl">-->
                            <!--<div class="row cl col-sm-6">-->
                                <!--<label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>状态1：</label>-->

                                <!--<div class="formControls col-xs-8 col-sm-8">-->
                                    <!--<input type="radio" name="status" value="1" id = "status" <if condition="$data['data']['status'] eq 1">checked</if>> 有效-->

                                    <!--<input type="radio" name="status" value="2" id = "status" <if condition="$data['data']['status'] eq 2">checked</if> > 无效-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row cl col-sm-6">-->
                                <!--&lt;!&ndash;<label class="form-label col-xs-4 col-sm-4">特需采购：</label>&ndash;&gt;-->

                                <!--&lt;!&ndash;<div class="formControls col-xs-8 col-sm-8 skin-minimal">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="check-box">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="checkbox" value="1" id="is_special" name="is_special" class=""&ndash;&gt;-->
                                <!--&lt;!&ndash;<{$data['order']['is_special'] == 1 ? 'checked' : ''}> disabled>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label for="is_special">&nbsp;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="row cl">
                            <label class="form-label col-xs-2 col-sm-2">备注：</label>

                            <div class="formControls col-xs-10 col-sm-10" style="padding-left: 10px">
                                <textarea id="company_remark" name="company_remark" style="height:100px;width:96%;" class="input-text " maxlength="255" ><{$data.data.company_remark}></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row cl" style="margin-top:20px;">
                        <div class="col-xs-8 col-sm-6 col-xs-offset-6 col-sm-offset-5">
                            <input class="btn btn-primary radius" id="addSupplierBtn" type="button" value="提交">&nbsp;&nbsp;&nbsp;
                            <input class="btn btn-primary radius" id="goNext" type="button" value="维护联系人">

                        </div>
                    </div>
                </form>
            </div>
            <div class="tabCon">
                <form action="" method="post" class="form form-horizontal" id="form-invoice-add" style="display: none;">
                    <div style="overflow: hidden" id="userList">
                        <div class="row cl user_info">
                            <div class="row cl col-sm-5">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>联系人：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text"  name="user_name" id="user_name" value="" maxlength="8"/>
                                    <span id="sps1"></span>
                                </div>
                            </div>

                            <div class="row cl col-sm-7">
                                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>联系电话：</label>

                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text"  name="user_phone" id="user_phone" value="" maxlength="11" style="width:180px;"/>
                                    <input type="hidden" class="input-text"  name="user_id" id="user_id" value="" maxlength="11" style="width:180px;"/>
                                    <span id="sps2"></span>
                                    <!--<span><a href="javascript:;" onclick="addUserInfo(this);" class="btn btn-primary radius check_access" value="ErpGoods-showAddErpGoods"><i class="Hui-iconfont"></i>+</a>&nbsp;</span>&lt;!&ndash;&#xe600;&ndash;&gt;-->
                                    <!--<span><a href="javascript:;" onclick="delUserInfo(this);" class="btn btn-primary radius check_access delUser" value="ErpGoods-showAddErpGoods"><i class="Hui-iconfont"></i>-</a>&nbsp;</span>&lt;!&ndash;&#xe600;&ndash;&gt;-->
                                </div>
                            </div>
                        </div>

                        <div class="row cl" style="margin-top:20px;">
                            <div class="col-xs-8 col-sm-6 col-xs-offset-6 col-sm-offset-5">
                                <input type="hidden" id="id" name="id" value="<{$data.id}>">
                                <!--<input type="hidden" id="purchase_id" name="purchase_id"-->
                                <!--value="<{$data['order']['id']}>">-->
                                <!--<input type="hidden" id="purchase_order_number" name="purchase_order_number"-->
                                <!--value="<{$data['order']['order_number']}>">-->
                                <input class="btn btn-primary radius" id="DealerSaveBtn" type="button" value="提交">&nbsp;&nbsp;&nbsp;

                                <input class="btn btn-primary radius" id="cancelUser" type="button" value="取消">
                                <!--<input class="btn btn-primary radius" id="goback" type="button" value="返回">-->
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <br/>

                    <!--<p>联系人列表</p>-->
                    <!--<hr/>-->
                    <div class="row cl" style="margin-top:20px;">
                    <div style="margin-left: 15px;">
                    <form class="Huiform" method="post" action="<{:U('Galaxy/uploadZip')}>" target="_self" id="form1" enctype ="multipart/form-data">
                    <input class="btn btn-primary radius" id="add_new_user" type="button" onclick="erpgoods_add('新增')" value="新增">
                    <input class="btn btn-primary radius" id="update_user" type="button" onclick="erpgoods_update('编辑')" value="编辑">
                    </form>
                    </div>
                    </div>
                    <div class="row cl">
                    <table class="table table-border table-bordered table-hover table-bg table-sort" id="dataTable">
                    <thead>
                    <tr class="text-c">
                    <th>
                    <input type="checkbox" name="" value="">
                    </th>
                    <th>ID</th>
                    <th>联系人</th>
                    <th>联系人电话</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>更新人</th>
                    <th>更新时间</th>

                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>

                    </tfoot>
                    </table>
                    </div>
                </div>
            </div>
            <!-- 银行账号 -->
            <div class = "tabCon">
                <form action="" method="post" class="form form-horizontal" id="form-back-add" style="display:none;">
                    <div style="overflow: hidden" id = "backList">
                        <div class="row c1 back_info">
                            <div class="row c1 col-sm-5">
                                <label class="form-label col-xs-4 col-sm-4">银行名称</label>
                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text" id="backName"  name="backName" value="" maxlength="50"/>
                                    <span id="back1"></span>
                                </div>
                            </div>
                            <div class="row cl col-sm-7">
                                <label class="form-label col-xs-4 col-sm-4">银行卡号：</label>
                                <div class="formControls col-xs-8 col-sm-8">
                                    <input type="text" class="input-text" id="backNum"  name="backNum" value="" maxlength="30" style="width:180px;"/>
                                    <span id="back2"></span>
                                </div>
                            </div>
                            <div class="row cl" style="margin-top:20px;">
                                <div class="col-xs-8 col-sm-6 col-xs-offset-6 col-sm-offset-5">
                                    <input type="hidden" name="SupplierBackId" id = "SupplierBackId" value="">
                                    <input class="btn btn-primary radius" id="addSupplierBtn2" type="button" value="提交">&nbsp;&nbsp;&nbsp;
                                    <input class="btn btn-primary radius" id="go_back" type="button" value="取消">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <br/>

                    <div class="row cl" style="margin-top:20px;">
                        <div style="margin-left: 15px;">
                            <form class="Huiform" method="post" action="" target="_self" id="formBack" enctype ="multipart/form-data">
                                <input class="btn btn-primary radius" id="add_back" type="button" onclick="erpback_add('新增')" value="新增">
                                <input class="btn btn-primary radius" id="update_back" type="button" onclick="erpback_update('编辑')" value="编辑">
                            </form>
                        </div>
                    </div>
                    <div class="row cl">
                        <table class="table table-border table-bordered table-hover table-bg table-sort-back" id="dataBackTable">
                            <thead>
                            <tr class="text-c">

                                <th>选择</th>
                                <th>创建人</th>
                                <th>更新人</th>
                                <th>银行名称</th>
                                <th>银行账号</th>
                                <th>创建时间</th>
                                <th>更新时间</th>

                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-8 col-xs-offset-4 col-sm-offset-2">
            </div>
        </div>
    </form>
</div>

<link rel="stylesheet" href="__TPL__lib/select2/css/select2.min.css"/>
<script type="text/javascript" src="__TPL__lib/select2/js/select2.min.js"></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    //查看详情
    var is_view = '<{$Think.get.view}>' ? 1 : 0;
    console.log(is_view);
    if(is_view == 1){
        $("input:button").hide();
    }
    //已审核不允许编辑
    var audit_status = '<{$data.data.audit_status}>';

    if(audit_status == 1){
        //$("#addSupplierBtn").hide();
        $('form').find('input,textarea,select').attr('disabled', true).addClass('disabled');
        $("#addSupplierBtn, #address_province, #address_city, #address_zone,#company_address,#supplier_short_name,#registered_tel,#company_tel,#post_code,#is_inner,#company_level,#company_remark,#status").attr('disabled', false).removeClass('disabled');

        //供应商审核通过的依旧可以进行新增用户信息
        $("#add_new_user,#update_user, #DealerSaveBtn ,#cancelUser ,#user_name , #user_phone , #id").attr('disabled', false).removeClass('disabled');
        //银行卡号
        $("#add_back , #update_back").attr('disabled', false).removeClass('disabled');
        $("#goNext").hide();
    }
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $.Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "0");
        //$('input,select,textarea', $('#information')).attr('disabled', true);

    });
    hiddenFirstDel();
    function hiddenFirstDel() {
        $('.delUser').eq(0).hide();
    }
    function addUserInfo(obj) {
        var user_obj = $(obj).parents('.user_info');
        user_obj.find('.delUser').show();
        var user_tpl = user_obj.clone();
        //console.log(user_tpl);
        user_obj.after(user_tpl);
        hiddenFirstDel();
    }
    function delUserInfo(obj) {
        $(obj).parents('.user_info').remove();
    }
    var da ={};
    da.supplier_id = $('#id').val();
    var table = $('.table-sort').dataTable({
        "paging": true,
        "serverSide": true,
        "iDisplayLength": 10,
        "displayStart": 0,
        ajax: {
            //url: "<{:U('Galaxy/orderList')}>",
            url: "<{:U('ErpSupplier/getSupplierUserList')}>",
            type: 'post',
            data: da
        },
        "aaSorting": [[2, "desc"]],//默认第几个排序
        "bStateSave": false, //状态保存
        "aoColumnDefs": [
        ],
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        "deferRender": true, //延迟渲染
        "searching": false,
        "bPaginate": true,
        "bLengthChange": true,
        "columns": [
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    return '<input name="check_box_list" type="checkbox"  class="checkchild"  value="' + data.id + '" />';
                }
            },
            {"data": "id"},
            {"data": "user_name"},
            {"data": "user_phone"},
            {"data": "creater"},
            {"data": "create_time"},
            {"data": "updater"},
            {"data": "update_time"}

        ],
    });

    
    searchSupplierUser = function(){
        var id = $("#id").val();
        table.api().ajax.url("<{:U('ErpSupplier/getSupplierUserList')}>") +'/id/'+id;
        table.api().ajax.reload(null,false);
    }

    $("#goNext").click(function () {
        $.Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "1");
    })


    $("#goback").click(function () {
        $.Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "0");
    })

    $('#cancelUser').click(function () {
        resetUserForm()
        userFormHide();
    })
    function userFormShow() {
        $('#form-invoice-add').show(100);
    }
    function resetUserForm() {
        $('input[name="user_name"]').val('');
        $('input[name="user_phone"]').val('');
        $('input[name="user_id"]').val('');
    }
    function userFormHide() {
        $('#form-invoice-add').hide(100);
    }

    /*商品-添加*/
    function erpgoods_add(title, url, id, w, h) {
        resetUserForm();
        userFormShow();
    }
    /*商品-编辑*/
    function erpgoods_update(title, url, id, w, h) {
        if ($('.checkchild:checked').length == 0) {
            layer.msg('请选择', {icon: 2});
        } else if ($('.checkchild:checked').length == 1) {
            id = $('.checkchild:checked').val();
            //url = url + '/id/' + id;
            //layer_show(title, url, w, h);
            userFormShow();
            ajax("<{:U('ErpSupplier/UserDetail')}>", {id:id}, 'post', 'json', function (_data) {

                $('input[name="user_id"]').val(id);
                $('input[name="user_name"]').val(_data.user_name);
                $('input[name="user_phone"]').val(_data.user_phone);

            });
        } else {
            layer.msg('无法批量编辑，只能选择一项', {icon: 2});
        }
    }
    //验证是否是数字（保留两位小数）
    function checknum(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value= parseFloat(obj.value);
        }
        if(obj.value.indexOf(".") == 0){
            obj.value = '';
        }
    }

    var selectProvince = $("#address_province").select2({
        placeholder: '请选择省份',
        //allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });
    var selectRegion = $("#address_city").select2({
        placeholder: '请选择城市',
        //allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });
    var selectCounty = $("#address_zone").select2({
        placeholder: '请选择地区',
        //allowClear: true
    }).on('select2-open', function () {
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
    });
    var city    = <{$data.city}>;
    var county  = <{$data.county}>;

    change_shipping_city('<{$data.data.address_province}>');

    change_shipping_county('<{$data.data.address_city}>');
    // 二级联动提油城市
    function change_shipping_city(id) {
        var citylist = (city[id]) ? city[id] : "" ;
        var city_id = '<{$data.data.address_city}>';
        if(id <= 0) return false;
        var options = '<option value=0>请选择</option>';
        var selected = '';
        $.each(citylist, function (i, item) {
            if ( city_id == item.id) {
                selected = 'selected="selected"';
            } else {
                selected = '';
            }
            options += '<option value="' + item.id + '" ' + selected + '>' + item.area_name + '</option>';
        });
        $('#address_city').html(options);
    }
    // 三级联动提油地区
    function change_shipping_county(id) {
        var citylist = (county[id]) ? county[id] : "";
        var zone_id = '<{$data.data.address_zone}>';
        if(id <= 0) return false;
        var options = '<option value=0>请选择</option>';
        var selected = '';
        $.each(citylist, function (i, item) {
            if (zone_id == item.id) {
                selected = 'selected="selected"';
            } else {
                selected = '';
            }
            options += '<option value="' + item.id + '" ' + selected + '>' + item.area_name + '</option>';
        });
        $('#address_zone').html(options);
    }
    var userInfoList = {};
    userInfoList.user_name= [];
    userInfoList.user_phone= [];
    /* 验证联系人信息*/
    function checkuUserInfo() {
        var user_name_list = $('input[name="user_name"]').val();
        var user_phone_list = $('input[name="user_phone"]').val();

        console.log($('#form-invoice-add').serialize());

        console.log($('#form-invoice-add').serializeArray());
        console.log( $('input[name="user_name"]'));
        var userList = $('#form-invoice-add').serializeArray();
        console.log(user_name_list);
        console.log(user_phone_list);
        var is_pass = true;
        $('input[name="user_name"]').each(function () {
            if($.trim($(this).val()) == ''){
                console.log("联系人不能为空");
                //layer.alert("联系人不能为空");
                layer.msg("联系人不能为空", {icon: 2});
                is_pass = false;
                return false;
            }else{
                userInfoList.user_name.push($.trim($(this).val()));
            }
        })

        $('input[name="user_phone"]').each(function () {
            if($.trim($(this).val()) == ''){

                layer.msg("联系电话不能为空", {icon: 2});
                is_pass = false;
                return false;
            }else{
                userInfoList.user_phone.push($.trim($(this).val()));
            }
        })
        console.log(is_pass);
        console.log(userInfoList);
        return is_pass;
    }

    $('#addSupplierBtn').click(function () {

        //var params_data = $('#form-order-add').serialize();
        var da = {
            'id': $.trim($("#id").val()),
            'supplier_name': $.trim($("#supplier_name").val()),
            'supplier_short_name': $.trim($("#supplier_short_name").val()),
            'tax_number': $.trim($("#tax_number").val()),
            'registered_bank': $.trim($("#registered_bank").val()),
            'registered_bank_number': $.trim($("#registered_bank_number").val()),
            'registered_tel': $.trim($("#registered_tel").val()),
            'registered_address': $.trim($("#registered_address").val()),
            'company_remark': $.trim($("#company_remark").val()),
            'company_tel': $.trim($("#company_tel").val()),
            'post_code': $.trim($("#post_code").val()),
            'is_inner': $.trim($("#is_inner").val()),
            'company_address': $.trim($("#company_address").val()),
            'company_level': $.trim($("#company_level").val()),
            'business_attributes': $.trim($("#business_attributes").val()),
            'address_province': $.trim($("#address_province").val()),
            'address_city': $.trim($("#address_city").val()),
            'address_zone': $.trim($("#address_zone").val()),
            'status': $.trim($("input[name='status']:checked").val()),
        };
        //da.userInfo = userInfoList;
        if ( true) {
            submitTrue('addSupplierBtn');
            layer.load(1, {shade: 0.3});
            var url = '<{:U("ErpSupplier/updateSupplier")}>';
            var type = 'post';
            var dataType = 'json';
            var data = da;
            ajax(url, data, type, dataType, function (_data) {
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                    parent.searchErpSupplierList();
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        submitFalse('addSupplierBtn');
                        //doSlideUp();
                    }, 500);
                } else {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                    submitFalse('addSupplierBtn');
                    return false;
                }
            });
        }
    })

    $("#DealerSaveBtn").click(function () {

        var da = {
            'id': $.trim($("#user_id").val()),
            'user_name': $.trim($("#user_name").val()),
            'user_phone': $.trim($("#user_phone").val()),
            'supplier_id': $.trim($("#id").val()),

        };
        if ( checkuUserInfo()) {
            submitTrue('DealerSaveBtn');
            layer.load(1, {shade: 0.3});
            var url = '<{:U("ErpSupplier/saveSupplierUser")}>';
            var type = 'post';
            var dataType = 'json';
            var data = da;
            ajax(url, data, type, dataType, function (_data) {
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                    searchSupplierUser();
                    setTimeout(function () {
//                        var index = parent.layer.getFrameIndex(window.name);
//                        parent.layer.close(index);
                        submitFalse('DealerSaveBtn');
                        resetUserForm()
                        userFormHide();
                        //doSlideUp();
                    }, 500);
                } else {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                    submitFalse('DealerSaveBtn');
                    return false;
                }
            });
        }

    })
    top.searchErpPurchaseInvoiceList = function (status) {
        var current_page = status || false;
        var param = 'show_all=1';

        table.api().ajax.url("<{:U('ErpFinance/erpPurchaseShowInvoiceList')}>?" + param);
        table.api().ajax.reload(function(){
            $('#subes').val('查询').attr('disabled', false);
            layer.closeAll('loading');
        }, current_page);
    }
    // @添加下单按钮禁用属性
    function submitTrue(id) {
        //$('#DealerSaveBtn').attr("", true).addClass('disabled').val('处理中');
        $('#'+id).attr("disabled", true).addClass('disabled').val('处理中');
    }

    // @移除下单按钮禁用属性
    function submitFalse(id) {
        //$('#DealerSaveBtn').attr("", false).removeClass('disabled').val('提交');
        $('#'+id).attr("disabled", false).removeClass('disabled').val('提交');
    }
    /* @end 基本信息 */

    /* 拜访记录 */

    function saveVisitInfo() {
        var url = '<{:U("User/saveVisitInfo")}>';
        var data = $('#form-visit-add').serialize();
        data.id = '<{$Think.get.id}>';
        var dataType = 'json';
        var type = 'post';
        ajax(url, data, type, dataType, function (_data) {
            if (_data.status == 1) {
                layer.msg(_data.message, {icon: 1});
                window.location.reload();
                return false;
            } else {
                layer.msg(_data.message, {icon: 2});
                return false;
            }
        })
    }

    $('.table-sort tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

    $('#dataTable tbody').on('click', 'tr', function () {

        var index = $(this).index();
        if ($('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked') == false) {
            $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', true);
        } else {
            $('#dataTable tbody tr').eq(index).find('.checkchild').prop('checked', false);
        }
        $('#dataTable tbody tr').eq(index).siblings().find('.checkchild').prop('checked', false);

    });

    //验证信息正确
    function checktrue($place) {
        $('#' + $place).html("<i class='Hui-iconfont'>&#xe676;</i>");
        $('#' + $place).removeClass();
        $('#' + $place).addClass("c-green");
    }

    //验证信息错误
    function checkfalse($place) {
        $('#' + $place).html("<i class='Hui-iconfont'>&#xe706;</i>");
        $('#' + $place).removeClass();
        $('#' + $place).addClass("c-red");
    }
    //银行账号
     var table1 = $('.table-sort-back').dataTable({
        "paging": true,
        "serverSide": true,
        "iDisplayLength": 10,
        "displayStart": 0,
        ajax: {
            url: "<{:U('ErpSupplier/getSupplierBackList')}>",
            type: 'post',
            data: da
        },
        "aaSorting": [[2, "desc"]],//默认第几个排序
        "bStateSave": false, //状态保存
        "aoColumnDefs": [
        ],
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        "deferRender": true, //延迟渲染
        "searching": false,
        "bPaginate": true,
        "bLengthChange": true,
        "columns": [
            {
                "sClass": "text-c",
                "data": null,
                "render": function (data, type, full, meta) {
                    return '<input name="check_box_list" type="checkbox"  class="checkBack"  value="' + data.id + '" />';
                }
            },
            {"data": "creater"},
            {"data": "updater"},
            {"data":"ext_info_content"},
            {"data":"ext_info_content_two"},
            {"data": "create_time"},
            {"data": "update_time"}

        ],
    });
      function resetBackForm() {
        $('input[name="backName"]').val('');
        $('input[name="backNum"]').val('');
        $('#SupplierBackId').val('');
    }
    
    function backFormShow(){
         $('#form-back-add').show(100);
          $("#backName , #backNum , #go_back , #addSupplierBtn2").attr('disabled', false).removeClass('disabled');
    }
    function backFromHide(){
        $('#form-back-add').hide(100);
    }
    /*银行账号-添加*/
    function erpback_add(title, url, id, w, h) {
        resetBackForm();
        backFormShow();
    }
    $("#addSupplierBtn2").click(function () {
        var da = {
            'backName': $.trim($("#backName").val()),
            'backNum': $.trim($("#backNum").val()),
            'supplier_id': $.trim($("#id").val()),
            'id' :$.trim($('#SupplierBackId').val()),
        };
        if ( checkBackInfo()) {
            submitTrue('addSupplierBtn2');
            layer.load(1, {shade: 0.3});
            var url = '<{:U("ErpSupplier/saveSupplierBack")}>';
            var type = 'post';
            var dataType = 'json';
            var data = da;
            ajax(url, data, type, dataType, function (_data) {
                if (_data.status == 1) {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 1});
                    searchSupplierBack();
                    setTimeout(function () {
                        submitFalse('addSupplierBtn2');
                        resetBackForm()
                        backFromHide();
                    }, 500);
                } else {
                    layer.closeAll();
                    layer.msg(_data.message, {icon: 2});
                    submitFalse('addSupplierBtn2');
                    return false;
                }
            });
        }
    });
    function checkBackInfo(){
        var backName = $("#backName").val() ;
        var backNum = $("#backNum").val() ;
        if(backName == ''){
             layer.msg("银行名称不能为空", {icon: 2});
                is_pass = false;
                return false;
        }
        if(backNum == ''){
             layer.msg("银行账号不能为空", {icon: 2});
                is_pass = false;
                return false;
        }
        return true ;
    }
     searchSupplierBack = function(){
        var id = $("#id").val();
        table1.api().ajax.url("<{:U('ErpSupplier/getSupplierBackList')}>") +'/id/'+id;
        table1.api().ajax.reload(null,false);
    }
    //银行账号的选择
    $('#dataBackTable tbody').on('click', 'tr', function () {

        var index = $(this).index();
        if ($('#dataBackTable tbody tr').eq(index).find('.checkBack').prop('checked') == false) {
            $('#dataBackTable tbody tr').eq(index).find('.checkBack').prop('checked', true);
        } else {
            $('#dataBackTable tbody tr').eq(index).find('.checkBack').prop('checked', false);
        }
        $('#dataBackTable tbody tr').eq(index).siblings().find('.checkBack').prop('checked', false);

    });
    //编辑银行账号界面
    function erpback_update(title, url, id, w, h){
        if($('.checkBack:checked').length == 0){
             layer.msg('请选择', {icon: 2});
         }else if($('.checkBack:checked').length == 1){
            id = $('.checkBack:checked').val();
             backFormShow();
             ajax("<{:U('ErpSupplier/backDetail')}>", {id:id}, 'post', 'json', function (_data) {
                 $('input[name="backName"]').val(_data.ext_info_content);
                 $('input[name="backNum"]').val(_data.ext_info_content_two);
                  $('#SupplierBackId').val(_data.id);
             });
         }else{
            layer.msg('无法批量编辑，只能选择一项', {icon: 2});
         }
    }
     $('#go_back').click(function () {
        resetBackForm();
        backFromHide();
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>